[2017-09-28 10:01] yungez opened #11 "upgrade to spring data 2.0"

[2017-09-28 10:02] yungez opened #12 "documentdbrepository implement crudrepository"

[2017-09-28 10:02] yungez opened #13 "partionkey supported methods revisit"

[2017-09-28 10:02] yungez opened #14 "implement isNewStrategy() and delete update()"

[2017-10-11 09:47] dmillwalla opened #16 "[Doc] Could you also provide an example of how DocumentClient can be injected to write a query that could be fired on CosmosDB?"
Is there a way the DocumentClient can be used with Autowired annotation to use it to execute queries? Or in this case, using EntityManager with PersistenceContext annotation can be used to execute queries on CosmosDB?

Alternatively, does it make sense to create a wrapper class that serves a singleton DocumentClient instance in Spring instead?

[2017-10-19 10:40] pyryjook commented on #16
Yes, this would be awesome addition to docs! 👍🏻

[2017-10-25 10:51] qwazer opened #17 "Add support for custom ObjectMapper in DocumentClient"
I didn't find issue tracker for azure-documentdb, so post it here.

In azure-documentdb-1.13.0.jar objectMapper is not configurable and created for ***every*** save operation

decompiled code:
[code]

Please fix it and add ability to use custom object mapper

[2017-10-26 05:31] yaweiw commented on #17
@yungez @ZhijunZhao can you guys please take a look?

[2017-10-26 05:42] yungez commented on #17
HI @qwazer , could you pls file issue at [documentdb sdk repo](https://github.com/Azure/azure-documentdb-java.git) to track the issue given the issue in DocumentClient? thanks

[2017-10-26 06:13] qwazer commented on #17
@yungez , yes
https://github.com/Azure/azure-documentdb-java/issues/85

[2017-10-26 06:13] #17 closed

[2017-10-26 06:27] yungez commented on #16
Hi @dmillwalla thanks for feedback. not sure I understand the usage correctly.
1. Do you need an autowired DocumentClient to do query with the DocumentClient? If yes, you could use DocumentDB Spring Autoconfigure package at https://github.com/Microsoft/azure-spring-boot/tree/master/azure-spring-boot, to autowire a DocumentClient, instead of this Spring Data package.
2. Or Do you need Spring data C

[2017-10-26 13:56] qwazer opened #18 "Add autoconfigured healthindicators"
Similar to

https://docs.spring.io/spring-boot/docs/current/reference/html/production-ready-endpoints.html#_auto_configured_healthindicators

and

https://github.com/spring-projects/spring-boot/blob/v1.5.8.RELEASE/spring-boot-actuator/src/main/java/org/springframework/boot/actuate/health/MongoHealthIndicator.java

[2017-10-29 14:03] dmillwalla commented on #16
@yungez

Point #1 pretty much answers what I was seeking from this code sample. If you could expand this code sample by including this mechanism as well, it would be very helpful for anyone looking at this code sample.

Thanks for your prompt reply!

[2017-10-30 01:53] yungez commented on #16
HI @dmillwalla  to use autowired DocumentClient:
1. add dependencies to package azure-documentdb, and azure-spring-boot,

1. in code, just add
[code]

1. in your properties file, add cosmos db connection info:
[code]

[2017-10-30 16:18] dmillwalla commented on #16
Thanks a lot @yungez !

[2017-11-14 02:21] #16 closed

[2017-11-20 08:20] qwazer opened #21 "compatibility with spring-boot-starter-data-rest"
is it possible to use spring-data-documentdb
 with  spring-boot-starter-data-rest?

When I add spring-boot-starter-data-rest to classpath I get

Caused by: org.springframework.beans.BeanInstantiationException: Failed to instantiate [org.springframework.data.rest.core.mapping.RepositoryResourceMappings]: Factory method 'resourceMappings' threw exception; nested exception is java.lang.IllegalArgumen

[2017-11-30 17:35] pyryjook commented on #11
Hi! Is there a roadmap for this support?

[2017-12-15 08:43] yungez commented on #21
@qwazer  Hi, could you pls help to share your pom configuration to help reproduce the issue? the error is from build or run phase? if run phase, could you pls share little bit of your scenario? thanks.

[2017-12-15 10:10] verhcedr opened #22 "java.lang.ClassCastException: Cannot cast org.json.JSONArray to List"
Hi, I have an issue when i use this lib with an object with a List<String> attribute :

My object A contains an attribute B which is of type List<String>, and when i call repo.findAll(), i have this exception :

`Caused by: java.lang.ClassCastException: Cannot cast java.lang.String to java.util.List
	at java.lang.invoke.MethodHandleImpl.newClassCastException(MethodHandleImpl.java:361)
	at java.lan

[2017-12-15 18:42] qwazer commented on #21
@yungez Yes.
Take a look:
https://github.com/qwazer/spring-data-documentdb/commit/cbf33d684e84d4cb2f24fde57587f3bb5a69eb39

[2017-12-20 18:40] tanhuynh opened #23 "Support IndexingPolicy for a collection"
It looks like the current implementation does not allow the client to specify IndexingPolicy for a collection.  It would be great if this can be specified as part of the Document Annotation

[2017-12-20 19:58] pyryjook commented on #22
I have most likely encountered the very same problem. Any ideas when this would be fixed or is there a some way to bypass this?

[2017-12-21 01:37] yaweiw commented on #22
@yungez

[2017-12-21 02:27] yungez commented on #22
@verhcedr  thanks for reporting the issue. currently nested List is not supported in domain class. I'm looking at solution to support it, will update the issue later.

[2017-12-21 02:37] yungez commented on #23
@tanhuynh  thanks for this feature request. To support IndexingPolicy, we'll need to think over the end to end scenario of indexing, including creating, updating and deleting clearly. currently we're working on plan to support it. will update the issue to once there's more detail.

[2017-12-25 03:33] yungez commented on #21
#24

[2017-12-25 10:35] qwazer commented on #21
Thanks. We will check

[2018-01-02 03:28] yungez commented on #21
spring-data-documentdb 0.1.3 released to maven repo. close the issue. pls submit new issue if any furthur question. thanks.

[2018-01-02 03:28] #21 closed

[2018-01-02 03:37] #12 closed

[2018-01-19 02:31] yungez commented on #13
feedback on partitionKey support from Oliver of Pivotal:
------------

Depends on the scenarios that uses would choose different partition keys. I am definitely lacing the intimate knowledge about DocumentDB but drawing conclusions from other databases, a partition key is usually a quite statically chosen value and it doesn't really make sense to change that for repository query method invocations

[2018-01-19 11:03] Matthew-Dong opened #28 "Unify the name to Spring Data DocumentDB to avoid confusion"
Unify the name to Spring Data DocumentDB to avoid confusion

[2018-01-23 06:18] Matthew-Dong commented on #28
Solved in
https://github.com/Microsoft/spring-data-documentdb/pull/30

[2018-01-23 06:18] #28 closed

[2018-01-25 23:29] qlikstar opened #32 "Unable to cast JSONArray to java.util.List"
Hi Team,
I am using "com.microsoft.azure:azure-documentdb-spring-boot-starter" in my gradle project.
The data format I am using is :
Document stored in Cosmos is

 `{
    "id": "1",
    "policyId": 3,
    "deviceId": 2,
    "jobs": [
        "sdy",
        "hjgdjewg"
    ]
}`

I am trying to get this in a POJO. Here is the POJO class.
`@Document(collection = "deviceinfo")
public class DeviceInfo i

[2018-01-26 01:27] sophiaso commented on #32
@qlikstar Thanks for the report. Could you share which version of spring-data-documentdb are you using? If it's a released version, could you clone the latest master branch and do a local maven install, and use a snapshot version to test whether the List field works for you?

[2018-01-26 01:31] sophiaso commented on #14
refs #31

[2018-01-26 01:31] #14 closed

[2018-01-26 01:34] yungez commented on #32
@qlikstar  fix of the issue is merged into master branch already, as @sophiaso mentioned, you could local snapshot version from latest build. or wait for a new version of azure-documentdb-spring-boot-starter. Next release date would be around end of next week.

[2018-01-26 01:34] yungez commented on #32
Duplicate of # 22

[2018-02-01 02:01] sophiaso commented on #22
@verhcedr @pyryjook A new version [0.1.4](https://mvnrepository.com/artifact/com.microsoft.azure/spring-data-documentdb/0.1.4) has just been released to solve this issue, thanks.

[2018-02-02 04:42] qlikstar commented on #32
Thank you :)

[2018-02-02 04:42] #32 closed

[2018-02-02 11:15] pyryjook commented on #22
Great, thanks for the info!

[2018-02-11 08:04] #22 closed

[2018-02-27 06:50] yungez commented on #13
#37

[2018-02-27 06:50] #13 closed

[2018-02-27 20:27] brunoborges opened #39 "Remove references to DocumentDB (old name)"
Hi team,

Azure DocumentDB is now Azure CosmosDB SQL. Therefore, to maintain consistency, this project should make that clear in all references to Azure webpages, documentation, and eventually in the API and project name as well.

https://azure.microsoft.com/en-us/blog/dear-documentdb-customers-welcome-to-azure-cosmos-db/

[2018-02-28 01:30] yungez commented on #39
@brunoborges thanks for reminding. Actually we're aware of the renaming thing at very beginning of this project. Main reason we keep using documentdb term is because java sdk's name keeps as azure-documentdb https://github.com/Azure/azure-documentdb-java. To avoid confusing user, this module name aligned with sdk name. Any plan about the sdk renaming?

[2018-03-02 02:19] Matthew-Dong opened #41 "Async Java SDK for DocumentDB (SQL API)"
Async Java SDK for DocumentDB (SQL API) is just released to support asynchronous operations.

https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-async-java

[2018-03-05 06:07] sophiaso opened #42 "Update sample code with latest release"

[2018-03-05 08:12] sophiaso commented on #11
@pyryjook A new version [2.0.1](https://mvnrepository.com/artifact/com.microsoft.azure/spring-data-documentdb/2.0.1) has been released. Thanks.

[2018-03-07 03:24] sophiaso opened #47 "DocumentDB request User Agent project version is hardcoded"
[code ref link](https://github.com/Microsoft/spring-data-documentdb/blob/master/src/main/java/com/microsoft/azure/spring/data/documentdb/DocumentDbFactory.java#L17)

[2018-03-07 03:29] sophiaso commented on #11
[Release 2.0.1](https://github.com/Microsoft/spring-data-documentdb/releases/tag/v2.0.1)

[2018-03-07 03:29] #11 closed

[2018-03-08 18:05] danh916 opened #48 "JSONException when parsing a java.util.Date"
Getting the following exception when my POJO contains a java.util.Date. It's attempting to serialize it in JSONSerializable as a JSONObject, which expects nested { }. This is incorrect for a date, which is serialized as a simple String through Jackson.

A JSONObject text must begin with '{' at 1 [character 2 line 1]
org.json.JSONException: A JSONObject text must begin with '{' at 1 [character 2 li

[2018-03-09 06:31] sophiaso commented on #48
@danh916 Thank you for reporting this issue, currently Date type is not supported, for a workaround, could you please try to use `String` or `long` timestamp milliseconds to store the date? We will try to support this soon.

[2018-03-09 10:21] fritzfritz opened #51 "Support custom property field mapping"
Motivation
- sometimes the naming of properties is not the same like for documents in the database
- I run specifically into issues with databases having capital field names in the JSON stored, then when constructing custom queries in repository interfaces it will query always for lower case fields

Request
- make the JSON field configurable for which an attribute of the domain class, similar to @

[2018-03-12 01:49] sophiaso commented on #51
Hi @fritzfritz, thanks for reporting issue. Agree with  motivation `sometimes the naming of properties is not the same like for documents in the database`.

But about the issue in your motivation, could you share a sample POJO class and Repository interface to reproduce the issue you mentioned: `having capital field names and will query for lower case fields`?

If there is one field `fName` define

[2018-03-12 02:52] Incarnation-p-lee opened #52 "Cleanup compile warnings"
It is one long team cleanup task for all potential warnings when compiling, keep tracking and please do not close it easily.

[2018-03-12 06:52] sophiaso commented on #48
#50

[2018-03-13 01:24] #42 closed

[2018-03-13 02:30] Incarnation-p-lee opened #55 "Integrate constants variable in single file"
for avoiding duplicate code, and easy reference.

[2018-03-13 09:02] #47 closed

[2018-03-14 02:32] Incarnation-p-lee commented on #23
@tanhuynh  we add the support for indexingPolicy, with new Annotation DocumentIndexingPolicy. Have a try and any issue/problem please feel free to contact us directly.

[2018-03-14 09:00] Incarnation-p-lee commented on #55
Done in 5ff1acc4ea4da6ad80fbfdd8b51c0413f5aaa37f

[2018-03-14 09:00] #55 closed

[2018-03-14 09:01] Incarnation-p-lee commented on #23
Done in 2600f859f720c98d7012e656219bf27bba44d6d3

[2018-03-14 09:01] #23 closed

[2018-03-14 09:43] Incarnation-p-lee opened #60 "Refine and enhance the test code"

[2018-03-15 01:33] #48 closed

[2018-03-16 02:50] Incarnation-p-lee opened #62 "Align the code style of constants variables"
Use default intellij sytle

[2018-03-16 02:54] Incarnation-p-lee opened #63 "Add default value for DocumentIndexingPolicy in/excludedPaths"
Add default value for DocumentIndexingPolicy in/excludedPaths. As if not default values, the annotation may force the user to specific this field. This may looks a little unfriendly.

[2018-03-16 06:01] Incarnation-p-lee commented on #60
Done in dba2bd4602edce99d0cccf4bb0c3e0f5f272e03a

[2018-03-16 06:01] #60 closed

[2018-03-16 08:30] Incarnation-p-lee commented on #62
Fixed at 9bbd615f3822e6b0b8ece525d33653cbdd684a7e

[2018-03-16 08:30] #62 closed

[2018-03-16 08:31] Incarnation-p-lee opened #66 "Fix sonar reported issues."

[2018-03-19 01:18] Incarnation-p-lee commented on #63
Fix in 7e96747179f5d0b80a2fdd32232d95f2138d82ea

[2018-03-19 01:18] #63 closed

[2018-03-19 01:19] Incarnation-p-lee commented on #66
Fix in 9f6e9eae43877514b6121e733c27b782b4472e4a

[2018-03-19 01:19] #66 closed

[2018-03-23 06:45] Incarnation-p-lee opened #70 "Align the DocumentDbRepositoryFactoryBean injection of constructor and setter with spring-data-commons"
It is original reported from azure-spring-boot issue
https://github.com/Microsoft/azure-spring-boot/issues/306
https://github.com/Microsoft/azure-spring-boot/issues/304

[2018-03-23 06:50] Incarnation-p-lee commented on #70
Align the injection to spring-data-commons

Original issue reported from
Microsoft/azure-spring-boot#306
Microsoft/azure-spring-boot#304

Root cause reference
spring-projects/spring-boot#6541

[2018-03-23 06:50] #70 closed

[2018-03-28 12:41] rgong1987 opened #73 "unsupported keyword: BETWEEN (2): [IsBetween, Between]"
Not sure if I am using it correctly, but I am getting this error while I am using
find by between Date range (milliseconds).

[2018-03-29 01:01] Incarnation-p-lee commented on #73
@rgong1987
Could you please share you sample code for reproducing? with documentdb version ? Thanks!

[2018-03-29 01:50] rgong1987 commented on #73
Hi @Incarnation-p-lee ,

It is something like `findByUserUuidAndStartBetween(String userUuid, String from, String to)` , I just saw the pull request regarding these keywords, so I guess it will be supported in the near future release ?

Thanks

[2018-03-29 02:02] Incarnation-p-lee commented on #73
@rgong1987
We will inform you when ready. Thanks!

[2018-04-03 04:17] rgong1987 opened #74 "Support null fields in MappingDocumentDbConverter"
Hi there,

Is it possible to support null fields in MappingDocumentDbConverter? I can see in JsonSerializable, it will check the null value and store it when does the mapping.

`        if (value == null) {
            this.propertyBag.put(propertyName, JSONObject.NULL);
        }`

So i would expect the same behaviour in MappingDocumentDbConverter? Correct me if I am wrong 😄

Thanks,
Robbie

[2018-04-03 05:01] Incarnation-p-lee commented on #74
@rgong1987
Actually, the behavior should be the same as JsonSerializable, the MappingDocumentDbConverter will obtain the value of property( of cause it is null). And pass it to Json.

`targetDocument.set(field.getName(), mapToDocumentDBValue(accessor.getProperty(property)))`

For example, if one field is null, we may get null here.

`mapToDocumentDBValue(accessor.getProperty(property)`.

[2018-04-03 05:19] rgong1987 commented on #74
@Incarnation-p-lee  ah yes, i got it wrong. It is a bit mess with my groovy class which made the property to be null (the above line)

Thanks for your reply!

[2018-04-03 05:19] #74 closed

[2018-04-03 05:32] Incarnation-p-lee commented on #74
@rgong1987
Never mind, and Thank you~

[2018-04-03 07:00] rgong1987 commented on #74
Hi @Incarnation-p-lee ,

Just out of curiosity, is there any reason you are throwing error when property is  null (by Assertion ) instead of ignoring unknown properties?

I know this is not designed for groovy, but it really makes me struggle to bypass some groovy default properties... 😞

[2018-04-03 14:13] julianzur opened #75 "Support for time to live"
I'm looking for a convenient way to set the TTL parameter for my collection. Right know I think this is only possible from the browser - is this correct?

[2018-04-03 15:18] Incarnation-p-lee commented on #75
@luly
Thanks for using and reporting. We may need to check with SDK library if they open this option to us. If so, we may support the TTL from `@Document`.

[2018-04-04 01:09] Incarnation-p-lee commented on #74
Hi @rgong1987
I am not familiar with groovy. But for java in most case, it reflected property(not the property value from accesser) cannot be null here. So we just assume that can hardly happen and use Assertion here. I am not sure this answers your question. Feel free contact us if in problem.

[2018-04-04 03:44] Incarnation-p-lee opened #76 "Refine the signature of operations createCollectionIfNotExists API."
As we may add more option when create collection with documentdb, we cannot append the option as parameters to createCollectionIfNotExists.
Need to integrate the part belongs to entityinformation.

[2018-04-13 02:22] selvasingh opened #89 "Use connection string to connect"
Cosmos DB supports connection string

[2018-04-13 02:32] sophiaso opened #90 "add wiki or README to describe the rename and package relocation"
After released(both for `spring-data-cosmosdb` and `spring-data-documentdb`)

* add another wiki or README about package rename
* announce the old package name `spring-data-documentdb` will no longer be released after this `relocation` release.

[2018-04-16 07:47] sophiaso commented on #90
Release document:

https://github.com/Microsoft/spring-data-cosmosdb/releases/tag/v2.0.3-docdb

[2018-04-16 07:47] #90 closed

[2018-04-16 14:39] julianzur opened #103 "Support for attachments / media"
Can you provide an example on how to store attachments / media with this library?

https://docs.microsoft.com/en-US/azure/cosmos-db/sql-api-resources#attachments-and-media

[2018-04-17 01:27] Incarnation-p-lee commented on #103
@julianzur
Thanks for you request. Recently we are working on TTL support, The attachments and media will be the next feature after that.

[2018-04-17 01:28] Incarnation-p-lee commented on #76
Done in 21f2fa2b89a3b768e00400fcf74de8f34b81c75d

[2018-04-17 01:28] #76 closed

[2018-04-17 01:46] Incarnation-p-lee commented on #75
@julianzur
Could you please help to try the TTL feature in master branch, The feature will be available in next release.

[2018-04-17 10:13] julianzur commented on #75
@Incarnation-p-lee
Thanks for your support! I wanted to test your changes but I'm still on SpringBoot 1.5. Will this feature also be ported to the 1.5 branch?

[2018-04-18 01:42] Incarnation-p-lee commented on #75
@julianzur
OK, we can do that with cherry-pick. But that feature may available in next release for spring-boot 1.5.x.
Thanks for you information,

[2018-04-18 06:38] julianzur commented on #75
@Incarnation-p-lee
Can you give an ETA on when I can expect the change to be released for 1.5.x? Thanks. :)

[2018-04-19 09:56] julianzur commented on #75
@Incarnation-p-lee
I cherry-picked the changes to the 0.1.x-branch. As I don't have the permission to push to this repo, I uploaded the diff as a txt file and attach it to this comment. Hope this helps. Thanks!

[patch.txt](https://github.com/Microsoft/spring-data-cosmosdb/files/1927585/patch.txt)

[2018-04-19 23:03] RodionXedin opened #108 "Compatibility issues with other spring-data modules ( allegedly )"
Hi,

we have a pretty big project and it seems like there is a conflict somewhere.
Basically the flow we tested was :
1) Create a blank spring-boot project, add spring-data-cosmosdb and check connectivity
This worked nice.
2) Do exactly same in main project
This is where problems began :

All we get is this error :
`
Caused by: org.springframework.beans.factory.BeanCreationException: Error creatin

[2018-04-20 01:16] Incarnation-p-lee commented on #75
@julianzur
Thanks very much for you contribution. It seems open the PR to public. I am not sure that permission issue. Could you please shared how to do that cherry-pick ?

[2018-04-20 01:46] sophiaso commented on #108
Hi @RodionXedin, thanks for opening issue. Checked the pom file you have provided, you are using `spring boot 1.5.9`, please use a different version for `spring-data-cosmosdb`, which was named `spring-data-documentdb`:

[code]

Refer to the [wiki page for dependency management](https://github.com/Microsoft/spring-data-cosmosdb/wiki/Spring-Data-dependency-version-management)

There is a sample Spri

[2018-04-20 01:55] sophiaso commented on #108
If you want to use the `spring-data-documentdb` dependency directly, some configuration is required, [quick start here](https://github.com/Microsoft/spring-data-cosmosdb#quick-start).

Or follow the sample to use [azure-documentdb-spring-boot-starter](https://github.com/Microsoft/azure-spring-boot/blob/0.1.x/azure-spring-boot-samples/azure-documentdb-spring-boot-sample/pom.xml#L23).

[2018-04-20 06:57] julianzur commented on #75
@Incarnation-p-lee
Sorry, this is my first change to a public repo - maybe I'm misunderstanding the process. I am allowed to open a pull request - but I am not allowed to **push** local changes to the repo.

https://help.github.com/articles/about-pull-requests/

So, I cloned the repo, switched to the "0.1.x" branch and cherry-picked the changes from master. After resolving the conflicts, I endet u

[2018-04-20 07:09] Incarnation-p-lee commented on #75
@julianzur
Thanks for you time and work. Yeah, the process is almost like what you done. But a little different after resolving the conflicts. All developers include me are not allowed to push PR directed to this repo. We use PR mode. You can follow the step I list below.

* cherry-pick and fix conflict
* run test locally
* If all test passed, push you change to you forked repo.
* After all, creat

[2018-04-20 11:05] RodionXedin commented on #108
Hi Sophiaso,

Unfortunately, switching the dependency, didn't change the problem.

I actually started with this dependency but having this issue tried the spring-data-comsosdb as it was newer..

[2018-04-24 02:00] sophiaso commented on #108
Hi @RodionXedin, could you provide a minimum reproducible application for your issue?(Including pom and java code) As in your shared pom, too many dependencies exist, and for the pom itself, is not a workable pom, some versions are missing etc. Thanks.

[2018-05-13 15:18] cocsackie opened #112 "Generated entity id for new entity is not available after saving it"
Given such entity and repository:

[code]

When calling repository method save, and trying to get id of the entity:

`tokenRepository.save(new Token(user.getId(), offsetDateTime.now().plus(Duration.ofMinutes(10)))).getId()`

it returns null, while in the DocumentDB database, the entity has id (which is generated by the library).

It turns out, that id is available to the application in `DocumentDb

[2018-05-13 22:54] cocsackie opened #113 "When calling findById("") on repository entity is returned even though it doesn't exist"
Calling findById("") results in link like this: "dbs/routeapi/colls/tokens/docs/".
Result of such query is a list of documents and as a result empty entity is returned.

[2018-05-13 23:11] cocsackie opened #114 "Unable to use custom configuration for ObjectMapper"
Because ObjectMapper is created using new keyword in the source code, it isn't possible to configure it for example to properly serialize/deserialize OffsetDateTime.

Examples in source code (this is also in this project's dependencies):

MappingDocumentDbConverter.readInternal(DocumentDbPersistentEntity, Class, Document)
JsonSerializable.getMapper()

[2018-05-14 01:21] Incarnation-p-lee commented on #112
@cocsackie
Thanks for your time, could you please provide which version are you using ?

[2018-05-14 01:30] cocsackie commented on #112
I'm using it with Spring Boot 2.0, I hope this is what you ask for:
documentdb-spring-boot-starter:2.0.1
spring-data-documentdb:2.0.1
azure-documentdb:1.13.0

[2018-05-14 01:37] Incarnation-p-lee commented on #112
@cocsackie
Thanks a lot. I will try to reproduce it and fix it ASAP.

[2018-05-14 05:53] sophiaso opened #115 "id is not necessary for the upsert operation"
[source code link](https://github.com/Microsoft/spring-data-cosmosdb/blob/master/src/main/java/com/microsoft/azure/spring/data/documentdb/core/DocumentDbTemplate.java#L124-L150)

id is not necessary for a upsert operation and id is not used.

[2018-05-16 02:15] sophiaso commented on #114
@cocsackie Thanks for opening issue, we are going to allow user to define customized ObjectMapper with specific bean name `cosmosdbObjectMapper`, by default will use `new ObjectMapper()` if no bean is defined. Let me know if this does not meet with your requirement.

[code]

[2018-05-16 08:26] #75 closed

[2018-05-16 18:49] cocsackie commented on #114
While ObjectMapper you allowed to configure seems to be fine when it comes to reading from a database (haven't tested it but I read the pull request diff), there is still a problem when saving the entity.

I already mentioned `JsonSerializable.getMapper()`, which is used indirectly by `MappingDocumentDbConverter.writeInternal`.
This line:
`targetDocument.set(field.getName(), accessor.getProperty(p

[2018-05-17 13:45] dixitprashant444 opened #122 "Getting java.lang.ClassNotFoundException: org.springframework.data.mapping.MappingException on server startup"
spring-data-cosmosdb version 2.0.3
org.springframework.boot' version '1.5.10.RELEASE'
Java version 8
Stack trace:
Caused by: org.springframework.beans.BeanInstantiationException: Failed to instantiate [com.microsoft.azure.spring.data.documentdb.core.convert.MappingDocumentDbConverter]: Factory method 'mappingDocumentDbConverter' threw exception; nested exception is java.lang.NoClassDefFoundError:

[2018-05-18 10:18] aaaabhishek13 commented on #73
@Incarnation-p-lee when will be this released.? Thanks

[2018-05-20 02:35] sophiaso commented on #114
@cocsackie Sorry for late response as was not checking github for several days, the related repo for the `documentdb lib` is this one https://github.com/Azure/azure-documentdb-java , issue can be opened there.

[2018-05-20 02:40] sophiaso commented on #114
Will check more details tomorrow.

[2018-05-21 01:12] Incarnation-p-lee commented on #73
@aaaabhishek13
We have one contributor working on this, it will be done in short future.

[2018-05-21 02:53] Incarnation-p-lee commented on #122
@dixitprashant444
Thanks for you time and issue. The version of cosmosdb is almost align with spring boot, so from your log here. Could you please help to have a try on springframework 2.0.x ?
`spring-data-cosmosdb version 2.0.3
org.springframework.boot' version '1.5.10.RELEASE'`

[2018-05-22 03:30] sophiaso commented on #114
@cocsackie Could you share in which way do you configure the `DocumentClient` bean, with Spring Boot Starters or your own configuration, the `DocumentClient` itself provides some constructor which contains `ObjectMapper` as parameter.

[2018-05-22 05:32] dixitprashant444 commented on #122
@Incarnation-p-lee We can not upgrade version of spring boot (org.springframework.boot) to 2.0.x as it would cause issues in our existing application. Isn't spring-data-cosmosdb library backward compatible?

[2018-05-22 05:38] Incarnation-p-lee commented on #122
@dixitprashant444
Thanks for your response. I think you can try [spring-data-cosmosdb for spring 0.1.5](https://github.com/Microsoft/spring-data-cosmosdb/releases/tag/v0.1.5).

[2018-05-22 06:15] dixitprashant444 commented on #122
@Incarnation-p-lee
With spring-data-cosmosdb 0.1.5, java.lang.ClassNotFoundException: org.springframework.data.mapping.MappingException is resolved. Now, server is up & running.
However, I am unable to save a record into collection. I get a different exception which says that "Property is null". **I think this library does not has capability to map custom objects (non primitive attributes) into co

[2018-05-22 20:53] cocsackie commented on #114
@sophiaso  It seems that `azure-documentdb-spring-boot-starter` is not using newest version of the library - it uses version **1.13.0** of `azure-documentb` and **2.0.1** `spring-data-documentdb`

It isn't **2.0.3** `spring-data-cosmosdb`! And this issue confirms it: https://github.com/Microsoft/azure-spring-boot/issues/326

That is why I didn't see that possibility, but now I did try it - after o

[2018-05-23 05:14] Incarnation-p-lee commented on #122
@dixitprashant444
Thanks for your log and quick response. It is just simple springbootapplication ? or Could you please help to provide some code to reproduce that exception ?

[2018-05-25 01:32] Incarnation-p-lee commented on #122
@dixitprashant444
Thanks for your information. This may related to unsupported id of int type. For now only support `String`. Could you please help to double check if it works on String id. And we will plan to add the fature for other primitive type.
[code]

[2018-05-25 05:27] yungezz opened #126 "groupId still using word 'documentdb' instead of 'cosmosdb'"
package is renamed, but groupId keep using 'documentdb'. confusing user.

[2018-05-26 06:16] dixitprashant444 commented on #122
@Incarnation-p-lee
It is just simple spring boot application. The example code that I had given you earlier is different from actual code. In actual code, we are using  private String id.
I tried with https://github.com/Azure/azure-documentdb-java/ and it works fine and we are going with this. We have decided to not use spring-data-cosmosdb as this is not production worthy library. I request you t

[2018-05-26 12:52] Matthew-Dong commented on #122
Thanks for the feedbacks. I'm wondering if you have tried with “private String id”?

Also, please provides us with the sample project if possible, @Incarnation-p-lee can help reproduce and fix the issue.

[2018-05-26 16:11] Incarnation-p-lee commented on #122
@dixitprashant444
### So you mean you provided log is not consistent with you code, right ?
I notice that you mentioned the DataBase cannot take care custom object in you log. I attempt to recover you code from you log and enhance the customized part in below.

It works very well and we can see this domain in databse. From the information you provided, I am not sure if you have any problem from ou

[2018-05-28 01:45] sophiaso commented on #114
@cocsackie Thank you for checking the details and sorry for replying late. Yes we are not releasing azure spring boot starters along with this spring-data-cosmosdb library.  I think after your trial by using latest version of `azure-documentb`, the write will work, but existing released library will not allow you to customize ObjectMapper, which will block you from reading the document correctly.

[2018-05-28 21:10] cocsackie commented on #114
@sophiaso I must disagree with you. As already mentioned I checked how the `OffsetDateTime` should be serialized: e.g. `1527020864.331000000` and how it is serialized by debugging and the result of saving it to the database in Azure Portal (see the results in my previous post). Because saving is not working there is no point in even reading it. As a result library version (as long as this is not f

[2018-05-30 05:12] Incarnation-p-lee commented on #115
done in PR https://github.com/Microsoft/spring-data-cosmosdb/pull/117

[2018-05-30 05:12] #115 closed

[2018-06-04 04:02] #126 closed

[2018-06-04 10:18] dixitprashant444 commented on #122
Hope you have received the model classes, sent over email, to reproduce the issue.

[2018-06-13 05:52] #112 closed

[2018-06-15 06:34] sophiaso opened #135 "Spring Project Vulnerability CVE-2018-11039 & CVE-2018-11040"
https://spring.io/blog/2018/06/14/spring-project-vulnerability-reports-published

Spring Project Vulnerability Reports Published

"The following CVEs have been published today:

CVE-2018-11039: Cross Site Tracing (XST) with Spring Framework
CVE-2018-11040: JSONP enabled by default in MappingJackson2JsonView
Fixes for those vulnerabilities have been released with Spring Framework 5.0.7 & 4.3.18, Sp

[2018-06-18 12:08] brunoborges commented on #39
pinging @selvasingh on the status of renaming DocumentDB SDK.

[2018-06-22 09:48] danielfiore opened #137 "Proper serialization to document of child object with parent does not work"
This library does not support the proper serialization of a child class to a Document. You will notice that the parent fields are not saved.

There is a serious bug in the MappingDocumentDbConverter class.  The writeInternal uses reflection instead of a third party Json serializer.  The use of the call ....getClass().getDeclaredFields() will only return the fields declared in a sub class. Parent c

[2018-07-03 09:25] Incarnation-p-lee opened #139 "Use conditional on telemetry bean"

[2018-07-13 03:16] senthilkrishnankr opened #141 "how to suppress null values in cosmos-db spring repository save method"
Hello,

I have a repository called "Shipment" which has following structure. I am noticing that Null values are not being suppressed when we try to insert using repository.save(shipmentObject) method. But Null values are being suppressed while using documentClient.upsertDocument(shipmentObject) method. how can we suppress null values being stored in cosmosDB  when we use springdata cosmosdb?

Code

[2018-07-16 03:17] Incarnation-p-lee commented on #141
@senthilkrishnankr
Thanks for you issue. The implementation of this repo keep null here for keep the consistency between entity in database and java instance. But it seems the client will eliminate the null when persistent. Could u please share why you need to suppress null ? or what problem the null value brings to u ?

[2018-07-17 03:30] senthilkrishnankr commented on #141
Thanks for reaching out to me. we don't face any functionality issue so far. But it occupies some space in the database. For my case, our shipment repository will have 30-40 columns. almost 60% of the columns value would be null when we insert data. It may get value as and when shipment progress. Sometimes it won;t have data for 60% columns. So If we suppress null values ,then I would save some sp

[2018-07-23 08:40] julianzur commented on #75
Hey @Incarnation-p-lee!
Will there be a 0.1.x release that contains the cherry picked changes any time soon?

[2018-07-23 08:47] Incarnation-p-lee commented on #75
Yes, the next release of 0.1.x will cover that part. I will info you if ready.

[2018-08-07 01:43] zhouchong90 commented on #41
Is there any planned support to integrate async repositories?
Such as
Flux<User> findByFirstname

[2018-08-12 06:18] Incarnation-p-lee opened #144 "Query method creation with keyword"
New feature on Query Method Creation with Keyword. List the keyword and example in below.

* [x] AND
[code]
* [x] OR
[code]
* [x] Is_EQUALS
[code]
* [x] AFTER
[code]
* [x] BEFORE
[code]
* [x] CONTAINING
[code]
* [x] BETWEEN (both inclusive)
[code]
* [x] ENDING_WITH
[code]
* [x] EXISTS
[code]
* [x] FALSE
[code]
* [x] GREATER_THAN
[code]
* [x] GREATER_THAN_EQUALS
[code]
* [x] IN
[code]
* ~~IS~~ Almo

[2018-08-12 11:28] Incarnation-p-lee opened #146 "support paging and sort in DocumentRepository"

[2018-08-13 01:04] Incarnation-p-lee opened #147 "Update azure cosmosdb sdk version"

[2018-08-13 01:05] Incarnation-p-lee opened #148 "Investigate query method delete operation"
For now, our delete of DocumentQuery will find the domains at first, and then delete one by one from the find result document.

[2018-08-13 02:32] Incarnation-p-lee opened #150 "Refine the configuration of cosmosdb"
AbstractConfiguration could not let the user to create documentClient

[2018-08-13 08:15] sophiaso opened #152 "Collection is always queried before find/delete"

[2018-08-13 08:16] sophiaso opened #153 "Only one partition key value is supported in the query"

[2018-08-14 03:39] miaosakurai opened #154 "Add IT test for keyword AND and OR."
For legacy code, we only support AND keyword, like
[code]
We add AND and OR for now, need to enhance the IT test for this. Include but not limited to

[code]

[2018-08-14 03:50] Incarnation-p-lee opened #155 "Reorganize the structure of test folder repository."

[2018-08-14 07:52] Incarnation-p-lee opened #158 "Keyword OR with current implementation should work, but failure with client exception"

[2018-08-14 08:48] #155 closed

[2018-08-15 08:04] #158 closed

[2018-08-16 08:47] #154 closed

[2018-08-17 05:07] Incarnation-p-lee opened #166 "investigate sort with query method"
like
[code]

[2018-08-17 09:17] Incarnation-p-lee opened #169 "Integrate count query and find query"

[2018-08-20 03:42] #166 closed

[2018-08-20 03:44] Incarnation-p-lee commented on #152
found one defect from sdk side, has open one issue to track this https://github.com/Azure/azure-documentdb-java/issues/118

[2018-08-20 08:28] sophiaso opened #173 "add pageable sample and readme"

[2018-08-20 08:29] sophiaso opened #174 "add sort sample and readme"

[2018-08-20 09:02] Incarnation-p-lee opened #175 "refine DocumentQuery with with(Sort) and with(Pagable)"

[2018-08-21 03:09] #169 closed

[2018-08-21 05:35] Incarnation-p-lee opened #179 "Add Suffix to testDB name for avoiding conflict."

[2018-08-21 05:38] #175 closed

[2018-08-21 07:13] #179 closed

[2018-08-21 09:05] #148 closed

[2018-08-23 01:20] Incarnation-p-lee opened #186 "CrossPartitionKey flag should be related to Query instead of Criteria"

[2018-08-23 02:53] #186 closed

[2018-08-23 03:17] #152 closed

[2018-08-24 01:03] emthomas opened #193 "Cant call self href directly for Entity"
I am using the following:

      <parent>
		<groupId>org.springframework.boot</groupId>
		<artifactId>spring-boot-starter-parent</artifactId>
		<version>2.0.1.RELEASE</version>
		<relativePath/>
	</parent>

        <dependency>
			<groupId>com.microsoft.azure</groupId>
			<artifactId>spring-data-cosmosdb</artifactId>
			<version>2.0.3</version>
	</dependency>

http://localhost:8080/api/questionSim

[2018-08-24 01:49] Incarnation-p-lee commented on #193
This error should be querying with incorrect configuration of partitionKey. I will try to reproduce from my side later.

[2018-08-28 08:33] bognari opened #200 "NullPointerException in TelemetryProxy"
Hi,
I use cosmosdb (2.0.4) in my spring boot application inside a docker container.
When I start my application outside the container everything works fine but when I start it inside the container I get a NPE at startup with this stacktrace:

[code]

as far as I can see the problem is, that
the values inside the mergedProperties can be null because you put the result from getHashMac() ([0]) inside

[2018-08-28 08:54] Incarnation-p-lee commented on #200
@bognari Thanks for you issue and finding.
Yes, it is one legacy code with defect here. We will fix it later and make code more elegant.

[2018-08-28 08:58] yaweiw commented on #200
@bognari is correct. Guess we can use removeIf instead.

[2018-08-28 09:03] Incarnation-p-lee commented on #200
In fact, we do **NOT** need these part of login in proxy. I will refine this and make it simple.

[2018-08-29 05:46] #200 closed

[2018-08-29 08:31] #150 closed

[2018-08-29 08:32] #146 closed

[2018-08-29 08:32] #139 closed

[2018-08-29 08:34] Incarnation-p-lee opened #202 "DocumentDBFactory refactor"
One Factory class should generate some product in Factory.

[2018-08-31 09:01] Incarnation-p-lee opened #205 "Take 2 chars as the testdb suffix"
* As the cosmosdb limited the total database count in one collection.

[2018-08-31 12:37] #205 closed

[2018-09-03 01:51] #202 closed

[2018-09-03 02:49] Incarnation-p-lee commented on #193
@emthomas
About this issue, I think the failure should be apply both `@Id` and `@PartitionKey` to  `id` field in domain Class. I am not locating the doc that is invalid in cosmosdb, but that may not the recommended practice of query. The sdk side for some API like `findById` didn't export the option for set partitionKey. So here I suggest that you can apply `@PartitionKey` to some field else. One

[2018-09-03 03:24] Incarnation-p-lee opened #207 "Use TestDB with suffix if no database name is given"

[2018-09-03 03:35] Incarnation-p-lee commented on #193
@emthomas
There seems one way to fix this from the server-sdk, I will try it if works well. But you'd better not apply both Annotation in one field.

[2018-09-03 05:22] #207 closed, assigned to Incarnation-p-lee

[2018-09-04 01:06] Incarnation-p-lee commented on #193
@emthomas
The PR has been merged to master tree, Cloud you please help to take a try ?

[2018-09-04 03:54] emthomas commented on #193
Yes. I will try tomorrow and report back. Thanks
On Mon, Sep 3, 2018 at 6:06 PM Pan Li <notifications@github.com> wrote:

[2018-09-06 09:32] sophiaso opened #212 "findAll will fail if collection is not created"
Steps to reproduce:

1. Run a sample code
2. Configure application.properties
3. Remove the collection will be used from Azure portal
4. Run findAll
5. Fail with below exception
[code]

[2018-09-07 06:31] Incarnation-p-lee opened #214 "investigate template and simplerepository relation ship."

[2018-09-10 16:12] emthomas commented on #193
@Incarnation-p-lee I finally have a chance to try this. But when you say it has been merged to master, do I need to pull master and rebuild the library? I am using the package from maven. is there a new version?

I am currently using
		<dependency>
			<groupId>com.microsoft.azure</groupId>
			<artifactId>spring-data-cosmosdb</artifactId>
			<version>2.0.3</version>
		</dependency>

[2018-09-11 00:48] Incarnation-p-lee commented on #193
@emthomas
We release new version of 2.0.4, cloud you please have a try there ?

[2018-09-14 01:32] #212 closed

[2018-09-17 01:15] #193 closed

[2018-09-19 09:37] #89 closed, assigned to miaosakurai

[2018-09-19 17:06] sophiaso opened #217 "DatabaseName in DocumentDbTemplate may not be necessary"

[2018-09-19 17:15] #217 closed

[2018-09-19 17:43] sophiaso opened #218 "User agent from configured ConnectionPolicy is not kept"
https://github.com/Microsoft/spring-data-cosmosdb/blob/master/src/main/java/com/microsoft/azure/spring/data/cosmosdb/DocumentDbFactory.java#L49

https://github.com/Microsoft/spring-data-cosmosdb/blob/master/src/main/java/com/microsoft/azure/spring/data/cosmosdb/DocumentDbFactory.java#L29

The user agent is constructed locally without count the user agent from ConnectionPolicy itself in.

[2018-09-22 01:08] bkwilson opened #220 "If the uri for a cosmosdb has a path, it is lost"
When the uri for the cosmosdb is host/path/path the /path/path part is discarded during initial setup of spring.

I was able to step through with the debugger during the startup of the app and manually set the uri to the full thing, doing this made everything worked as expected, so I think this is a bug.

[2018-09-25 01:09] Incarnation-p-lee commented on #220
@bkwilson
Thanks for try spring-data-comosdb, cloud you please share more information with sample to reproduce this issue, the URI is feed to sdk directly. Looks we may need to wrapper this for this issue.

[2018-09-25 01:43] bkwilson commented on #220
Usually the uri will look something like https://xxxx.documents.azure.com:443/, however my workplace infrastructure needs everything to go through Kong - meaning the uri that has been setup is https://api.dev.xxxx.com/service/azureblahblah/v1 etc (with a upstream uri of https://xxxx.documents.azure.com:443/)  the /service/azureblahblah/v1 part is discarded and only api.dev.xxxx.com is used, meanin

[2018-09-26 22:17] bkwilson commented on #220
We were able to work around the issue by creating a url without a path - so at this stage everything is working fine, dont worry about it

[2018-09-26 22:17] #220 closed

[2018-09-30 07:48] #218 closed

[2018-10-01 13:57] jannhendrik opened #221 "Query for nested property causes wrong param identifier in query"
For

[code]
the following query is generated.

"SELECT * FROM ROOT r WHERE r.person.birthdatetime > @person.birthdatetime "

Which throws an exception because paramter names 'must conform to @ followed by a valid identifier'.

[2018-10-05 13:43] erikthered commented on #41
Would you be open to a PR for this?

[2018-10-05 15:10] zhouchong90 commented on #41
Yes. Sure! I'll start working on it. Is there any documentation about PRs that I need to follow?

[2018-10-05 15:15] erikthered commented on #41
I was interested in working on the possible PR, I am not affiliated with this project.

[2018-10-10 01:29] Incarnation-p-lee commented on #221
@jannhendrik
Thanks for your issue. As National festival, sorry for late response. I will try to reproduce this from my env.

[2018-10-11 11:54] jannhendrik opened #225 "Issue Spring Data Rest"
Hi,
Using Spring Boot 2.0.5, Spring Data Rest 2.0.5 and Spring Data CosmosDB 2.0.5

When exposing paged resources and accessing them via RestAPI, paging does not work.

The first page is returned correctly, but onward from the second page an error is returned not a valid DocumentDbPageRequest, because continuation token is null.

If I understand the continuation token mechanism of cosmos db correc

[2018-10-11 11:59] jannhendrik opened #227 "Feature Request: Java ZonedDateTime Support"
I think support for Java ZonedDateTime would be amazing.

Pull Request below:
https://github.com/Microsoft/spring-data-cosmosdb/pull/226

[2018-10-11 14:02] sophiaso commented on #225
Hi @jannhendrik, currently in spring-data-cosmosdb the continuation token is included in the query response and wrapped into the new returned page request. [code here](https://github.com/Microsoft/spring-data-cosmosdb/blob/master/src/main/java/com/microsoft/azure/spring/data/cosmosdb/core/DocumentDbTemplate.java#L505-L509)

If possible, could you provide a reproducible sample? If too huge, only th

[2018-10-11 14:02] sophiaso commented on #225
Hi @jannhendrik, currently in spring-data-cosmosdb the continuation token is included in the query response and wrapped into the new returned page request. [code here](https://github.com/Microsoft/spring-data-cosmosdb/blob/master/src/main/java/com/microsoft/azure/spring/data/cosmosdb/core/DocumentDbTemplate.java#L505-L509)

If possible, could you provide a reproducible sample? If too huge, only th

[2018-10-12 01:48] #221 closed

[2018-10-15 06:13] Incarnation-p-lee opened #241 "Migrate DocumentDbOperations from Sync and Async"
### Operations
* [x] __deprecated__  ~~<T> List<T> findAll(Class<T> entityClass);~~
* [x] findAll(String collectionName, Class<T> entityClass, String partitionKeyName)
* [x] __deprecated__ ~~<T> T findById(Object id, Class<T> entityClass);~~
* [x] ```<T> Optional<T> findById(String collectionName, Object id, Class<T> entityClass);```
* [x]  __deprecated__ ~~<T> T insert(T objectToSave, PartitionKe

[2018-10-15 08:46] Incarnation-p-lee opened #242 "defect of save operation, information.IsNew do not cover all existed domains."
As cosmosdbClient provide upsert API, we can use this instead of query and insert.

[2018-10-16 09:52] jannhendrik commented on #225
Sorry for answering so late. Please take a look at the following requests against the example project in this repo:

Request
`
curl -X GET \
  'http://localhost:8080/user?page=0&size=1' \
  -H 'cache-control: no-cache'
`
Response:
[code]
Also the same 'user' is also returned for page two.

Request:
`curl -X GET \
  'http://localhost:8080/user?page=1&size=1' \
  -H 'cache-control: no-cache'
`
Respo

[2018-10-17 02:12] sophiaso commented on #225
Hi @jannhendrik, will check the issue `if page > 0 is requested and no continuation token is provided a bad request should be thrown`.

About how to use, you can refer [one sample](https://github.com/Microsoft/spring-data-cosmosdb/blob/master/samplecode/example/src/main/java/example/springdata/cosmosdb/Application.java#L79-L88) about how to use pagination for this spring-data-cosmosdb library.

Th

[2018-10-17 07:18] jannhendrik commented on #225
Okay, but usage with @RestRepository exposed endpoints is not possible?
Sorry i should have statet that ealier.

Am Mi., 17. Okt. 2018 um 04:12 Uhr schrieb weiping <notifications@github.com

[2018-10-18 02:09] Incarnation-p-lee opened #246 "Upgrade spring-data-commons to 2.0.7 or above"
https://github.com/Microsoft/spring-data-cosmosdb/network/alert/pom.xml/org.springframework.data:spring-data-commons/open

[2018-10-18 02:45] sophiaso opened #247 "Collection is always queried from remote to validate sort query"
For Sort query, remote collection is always queried, which makes the sort query slower.

[2018-10-18 04:38] #246 closed

[2018-10-19 08:49] sophiaso opened #253 "Test actual and expected are reversed"
e.g., [test case](https://github.com/Microsoft/spring-data-cosmosdb/blob/master/src/test/java/com/microsoft/azure/spring/data/cosmosdb/repository/integration/QuestionRepositoryIT.java#L70)

[2018-10-23 01:46] sophiaso commented on #225
Hi @jannhendrik The `@RestRepository` is not supported.

[2018-10-24 09:21] sophiaso opened #263 "Find by multiple ids is inefficient"

[2018-10-26 06:24] Incarnation-p-lee opened #267 "Json version complain from test log."

[2018-10-28 10:42] TeoBanu opened #270 "Inability to sort while paginating"
I am trying to sort while paginating on findAll and am not able to.
I tried findAll with **sort** = new Sort(Sort.Direction.DESC, "createdAt"), and I get all the objects correctly sorted by the provided sort criteria.
Then, I tried findAll with pageable, where pageble = new PageRequest(0, 5, **sort**), for which I get the first 5 objects, but not sorted by  "createdAt". In addition, DocumentDbPage

[2018-10-29 00:58] Incarnation-p-lee commented on #270
@TeoBanu
Thanks for trying spring-data-cosmosdb, I will try to reproduce from my env.

[2018-10-29 05:57] Incarnation-p-lee opened #273 "performance gap compare to sdk side"
Operation  Type | Spring Cost | SDK Cost | Run Times | Cost Diff Compare to SDK | Status | After
-- | -- | -- | -- | -- | -- | --
save one | 3396ms | 3247ms | 10 | +4.59% |    |
find by field | 2457ms | 2484ms | 10 | -1.09% |    |
delete all | 2435ms | 2422ms | 10 | +0.54% |  *  | -61%
delete all | 7398ms | 7400ms | 10 | -0.03% | *  |
find all | 4890ms | 4802ms | 10 | +1.83% |     |
delete one | 2

[2018-10-30 02:08] sophiaso commented on #270
Hi @TeoBanu, thanks for reporting issue, it's not possible for existing released versions, we have merged a [PR](https://github.com/Microsoft/spring-data-cosmosdb/pull/272), please wait for a new release. Or you can build a local snapshot version to have a try.

[2018-10-30 02:48] #263 closed

[2018-10-30 06:35] #253 closed

[2018-10-31 08:04] #267 closed

[2018-10-31 09:20] #247 closed

[2018-10-31 10:01] TeoBanu commented on #270
Thank you for taking the time to look into it.

[2018-11-01 02:06] #273 closed

[2018-11-01 02:06] #270 closed

[2018-11-01 02:07] #227 closed

[2018-11-01 02:07] #214 closed

[2018-11-01 02:08] #144 closed

[2018-11-01 02:08] #73 closed

[2018-11-26 05:22] Incarnation-p-lee opened #293 "Issues from cosmosdb service team"
* [x] Id alone does "not" uniquely identify the entity. It is the composition of partition key and id which can be used for uniquely identifying the entity.
@Incarnation-p-lee : The spring-data-commons provide the CRUD interface CrudRepository which defines the API in above. It is spring-data spec which out of our control.
@sophiaso : If PartitionKey is used in domain, user can define interface as

[2018-11-26 06:09] Incarnation-p-lee opened #294 "Request/feed option setting is not configurable"

[2018-11-26 06:10] Incarnation-p-lee opened #295 "Only string is supported as partition key"

[2018-11-26 06:10] Incarnation-p-lee opened #296 "I don't see any hook for throttling retry policy config."

[2018-11-26 09:18] xscript commented on #114
This has been fixed and released.
@cocsackie  Could you help confirm? Then we will close this issue.

[2018-11-26 09:20] xscript commented on #135
Fixed and released. Closing this issue.

[2018-11-26 09:20] #135 closed

[2018-11-26 09:22] xscript commented on #137
This has been fixed and released in our latest release.
@danielfiore Could you help confirm? We will close this issue then.

[2018-11-27 14:57] kweheliye commented on #221
Hi,
Is this issue has been solved ? I'm still getting the same error

` "message": "com.microsoft.azure.documentdb.DocumentClientException: Message: {\"Errors\":[\"Invalid query. Specified parameter name '@identifications.unitId' is invalid. Parameter names should be in the format of symbol '@' followed by a valid identifier. E.g. @param1\"]}\r\nActivityId: 4b21e05f-0fa6-40e0-ab22-2ae5755a2515, Re

[2018-11-27 15:39] Incarnation-p-lee commented on #221
@kweheliye
Thanks for issue this, we should fix this issue and add integration test for that.
Could you please provide more information about this ? Like which version of spring-data-cosmosdb, ?

[2018-11-27 15:59] kweheliye commented on #221
I'm not on my desk, but I think 2.0.5 with spring bott 2.0.2.RELEASE.

I was able to fetch the child object or the nested object only by passing  the  object as parameter along with the object properties fully populated.

So passing object who it's properties partially filled in will return empty.

Is there a workaround while the issue is being fixed ?

[2018-11-27 16:31] kweheliye commented on #221
This is different topic , also I was want to use @Tailable and async operation with spring-data-cosmodb is that possible with the pre release of version 3.0.0.M1 ? Do you have a code sample? Is the release supporting project reactor and spring webflux?

[2018-11-28 01:04] Incarnation-p-lee commented on #221
@kweheliye the 2.0.5 version may not contains that fix, it merged into master at 11 Oct. And 3.0.0.M1 is migrate to new SDK branch out early Oct also missed that fix. We would like to release new version like for this.

[2018-11-28 10:27] kweheliye opened #297 "Guidance on how to activate the reactive support on spring-data cosmo 3.0.0.M1"
I'm having issues in activating the reactive support in this early Pre-release, want to use and try out   the Async functionalities. Unfortunately I was unable to find documentation or  instructions on how to use this pre-release.

In mongoDB to activate the reactive support, we   use the @EnableReactiveMongoRepositories alongside with some infrastructure setup (AbstractReactiveMongoConfiguration)

[2018-11-28 11:03] Incarnation-p-lee commented on #297
@kweheliye
Actually, we have plan to enable reactive support for spring data cosmosdb that may leverage spring-data-kay package instead of spring-data-commons. But spring-data-kay need RxJava 2.x, and our sdk current only support RxJava 1.x.
So we are blocked by this depending on sdk RxJava upgrade.

[2018-11-29 01:06] Incarnation-p-lee commented on #39
Still some words related to `documentdb` excluding sdk side from our repo, need to clean up all of them.

[Search Result](https://github.com/Microsoft/spring-data-cosmosdb/search?p=1&q=%2Fdocumentdb&unscoped_q=%2Fdocumentdb)

[2018-11-30 05:07] xscript opened #298 "Lombok dependency should not be transitive"
https://github.com/Microsoft/spring-data-cosmosdb/blob/master/pom.xml#L139-L143

Below is the sample usage from official documentation.
https://projectlombok.org/mavenrepo/index.html

[code]

[2018-11-30 09:15] xscript opened #299 "Spring Data Reactive support"
Enable Spring Data Reactive support for Azure CosmosDB for both Project Reactor and RxJava 2. Sample usage as below:

[code]
[code]

Right now it is blocked because Azure CosmosDB Java SDK relies on RxJava 1.x, which is already EOL. It is tracked at https://github.com/Azure/azure-cosmosdb-java/issues/28

[2018-11-30 09:16] xscript commented on #41
Close this issue and track work item at #299 .

[2018-11-30 09:16] #41 closed

[2018-11-30 09:17] xscript commented on #297
Duplicate to #299 .

[2018-11-30 09:17] #297 closed

[2018-11-30 09:17] xscript commented on #241
Close this issue and track work item at #299 .

[2018-11-30 09:17] #241 closed

[2018-11-30 13:31] xscript commented on #122
Fix has been release. Closing this issue.

[2018-11-30 13:31] #122 closed

[2018-12-03 01:48] xscript commented on #114
Closing this issue because of inactivity.

[2018-12-03 01:48] #114 closed

[2018-12-03 01:49] xscript commented on #137
Closing this issue because of inactivity.

[2018-12-03 01:49] #137 closed

[2018-12-03 01:59] xscript commented on #108
Closing this issue because of inactivity. Feel free to reopen it if this is still an issue.

[2018-12-03 01:59] #108 closed

[2018-12-04 05:20] #298 closed

[2018-12-06 01:36] joylikelove opened #301 "How to show spring-data-cosmosdb sql log?"
How to show spring-data-cosmosdb sql log?

[2018-12-06 01:45] Incarnation-p-lee commented on #301
@joylikelove
For now this sql query is not show out to log, as not all query executed with sql query. We leverage cosmosdb-java-sdk to archive some query. But for some query method, like findByAAndB, we have the sql query.
Could you please share some scenario about why you may need this ? Thanks in advance!

[2018-12-10 14:41] zdragkas opened #302 "Support for Spring Boot 2.1.X"
spring-data-cosmosdb conflicts with Spring Boot 2.1.X dependencies.

Are there any plans to support it?

[2018-12-11 07:58] zdragkas commented on #302
Just upgrade spring-data-cosmosdb-samples parent pom to spring boot version 2.1.0.RELEASE and then you get:
***************************
APPLICATION FAILED TO START
***************************

Description:

The bean 'httpRequestHandlerAdapter', defined in class path resource [org/springframework/data/rest/webmvc/config/RepositoryRestMvcConfiguration.class], could not be registered. A bean with tha

[2018-12-11 08:00] Incarnation-p-lee commented on #302
@zdragkas
Thanks for you information. It is quit important to us and I will take a look into it.

[2018-12-12 02:36] Incarnation-p-lee commented on #302
@zdragkas
That may be the conflict between spring-data-commons 2.0.x version with spring-boot 2.1.x version. Our package will support spring-data-commons 2.1.x for spring-boot 2.1.x in short future.

[2018-12-12 05:51] Incarnation-p-lee commented on #302
@zdragkas
The above PR eliminate the explicit dependency from pom and leverage spring boot parent. The spring boot version greater than `2.0.4RELEASE` may throw that exception.

For spring-boot version 2.1.x, you may need to specific explicit spring-data-commons version like `2.0.7.RELEASE` for workaround, or you may got the exception like below.
[code]

[2018-12-12 05:53] Incarnation-p-lee opened #304 "exception when integrate with spring data commons 2.1.x"
[code]

[2018-12-12 06:18] Incarnation-p-lee commented on #304
Spring-data-commons 2.1.x code change the Interface name from
`EvaluationContextProvider` to `QueryMethodEvaluationContextProvider` which block the dependency on lookup strategy.
Simply it is not forward compatibility from `2.1.x` to `2.0.x` for spring data commons. We need to support spring data commons 2.1.x in one separated branch.

* 2.1.0.RELEASE code
[code]

* 2.0.8.RELEASE code
[code]

[2018-12-17 05:25] Incarnation-p-lee opened #305 "Adjust performance test for master branch"
Our CI build for master branch rarely passed due to unstable network issue from travis CI.

[2018-12-17 13:56] #305 closed

[2018-12-18 03:46] Incarnation-p-lee opened #309 "Allow AI key from command line for release process."

[2018-12-18 06:09] #309 closed

[2018-12-18 06:32] Incarnation-p-lee commented on #301
@joylikelove
Sorry for late response, too many release need to cover these days. Typically you need to findBy the fields you want, and the repository will query and return you the instance of the table in row. Finally, you can get the fields you want from the instance. Do you mean you may need one method like below code ?
[code]

And the method will return you the collection of names of all entiti

[2019-01-16 06:26] ttworek opened #317 "Unexpected Error: PartitionKey value must be supplied for this operation."
I'm trying out the very basic example as shown in the README/frontpage of this repo.  I am able to get my User object to get saved into the database, but upon retrieving it, I get the following exception:

[code]

My code is as follows:

[code]

[code]

[code]
[code]

Specifically, the exception is thrown at:
[code]

The main page says

but the link is broken to the example of how to specify your

[2019-01-17 01:22] Incarnation-p-lee commented on #317
@ttworek
Thanks for your issue. From the information and code in below, if you add partitionKey in domain field, only the id cannot identify the unique instance from cosmosdb. You should add partitionKey field when query for the unique instance. This is quit different to the concept of spring data.

So here, if you want to find the instance from you code, you may need to add one query in your repo

[2019-01-17 01:50] ttworek commented on #317
Great, thanks for the help, that solved the issue!

The docs on the front page need to be updated though. They mention this case, but the example/explanation of how to solve it refers to a broken link

[2019-01-17 01:50] #317 closed

[2019-01-17 01:51] Incarnation-p-lee commented on #317
@ttworek
Yes, we will update the doc ASAP.

[2019-01-22 01:54] Matthew-Dong opened #319 "This starter doesn't support database-provisioned throughput"
Before Cosmos DB throughput could only be set on collection level, now (starting in May 2018) we can provision throughput on database level.

When that is done, your starter fails to build as its internal tests seem to assume they always can set the throughput and the partition key on collection, and fail with "partition key required" error, while in reality it just fails with throughput setting a

[2019-01-23 01:31] Incarnation-p-lee commented on #302
@zdragkas
Close this issue as sdk for spring boot 2.1.x has released already.

[2019-01-23 01:31] #302 closed

[2019-01-23 01:32] Incarnation-p-lee commented on #304
close this as spring-data-commons has breaking changes from 2.0.x to 2.1.x. We have released separated sdk version for this.

[2019-01-23 01:32] #304 closed

[2019-01-25 02:06] ap1256 opened #320 "How to show spring-data-cosmosdb sql?"
I am using DocumentDbRepository getting error when calling findAll
"message": "com.microsoft.azure.documentdb.DocumentClientException: Message: {\"Errors\":[\"The index path corresponding to the specified order-by item is excluded.\"]}
I did not provide any sort parameters. I don't have an index on the Id.
Do I need to index the id field?

[2019-01-25 02:45] ap1256 commented on #320
springboot -  <version>2.1.0.RELEASE</version>
spring-data-cosmosdb - <version>2.1.0</version>
Oh - nvm. As I put the code snipet I realized that I do have a  default sort parameter set. Will add it to the index and try

[2019-01-25 03:13] ap1256 commented on #320
After adding the index, the query is taking for ever. I added more RUs as suggested by the metrics. Something is not right. How do I see what request was sent to the database?

[2019-01-25 14:09] Incarnation-p-lee commented on #320
@ap1256
Could you please share you code about domains configuration ?
Or you can reference our test code for sort here.
https://github.com/Microsoft/spring-data-cosmosdb/blob/d090dcf2a70ec52270b7eb3b4ae8d8c8a7406619/src/test/java/com/microsoft/azure/spring/data/cosmosdb/domain/Project.java#L15-L32

[2019-02-04 07:31] saurabhtanwar180896 opened #321 "Partition key length limit is allowed upto max 100 char length"
when Partition key length is greater than 100 char length , getting error
insert exception; nested exception is com.microsoft.azure.documentdb.DocumentClientException: Message: {\"Errors\":[\"PartitionKey extracted from document doesn't match the one specified in the header\"]}
But in CosmosDB SDK to v2.1.0 #4008 it was fixed. please look for this

azure cosmos  db partition key length issue fixed

[2019-02-18 08:54] Incarnation-p-lee opened #322 "Allow user config RequestOptions from application.yml"

[2019-02-18 08:55] Incarnation-p-lee commented on #322
* [ ] allow user configure `RequestOptions` from `application.yml`
* [ ] refine all `RequestOptions` instance creation.

[2019-02-20 14:13] Incarnation-p-lee commented on #321
Thanks for issue this. Our stable branch leverage azure cosmosdb sync sdk, and you mentioned sdk is for async.

We also have plan to support that but the async sdk leverage RxJava 1.x which is EOF for now.

[2019-02-20 19:36] elsesiy commented on #51
@sophiaso Your example is valid but this doesn't work with other naming conventions such aus `f_name` as this will be processed as `f`. I just ran into the same issue and it's quite an effort now to migrate the schema and remove the `_` just because there's not custom field mapping possible as of now.

[2019-02-22 01:54] sophiaso commented on #51
@elsesiy Currently we do not have an ETA for this feature.

[2019-02-27 05:01] Incarnation-p-lee opened #324 "Allow user configuration on RetryPolicy and RetryUtility"

[2019-02-28 06:21] usernameistom opened #326 "How to customize sql？"
We used custom SQL, but the performance is worse than FindAll, can't use custom SQL?

        SqlQuerySpec sqlQuerySpec = new SqlQuerySpec();
        sqlQuerySpec.setQueryText("Select * from c");
        FeedResponse<Document> response = executeQuery(sqlQuerySpec, feedOptions, collectionName, database);

        Iterator<Document> it = response.getQueryIterator();

[2019-02-28 14:33] Incarnation-p-lee commented on #326
@usernameistom
Thanks for you issue. I may not get your point about the issue. You mean you code in above like `SELECT * FROM C` with sync cosmosdb-java-sdk get lower performance result comparing to findAll ?

[2019-02-28 18:32] ss09201980 opened #328 "Custom Gremlin Query And recursive object building"
Does the framework support executing complex queries and building vertex and edge hierarchies recursively ?

[2019-03-01 00:52] Incarnation-p-lee commented on #328
@ss09201980
Thanks for issue. This repo only focus on SQL API. If you want to leverage graph API of cosmosdb, you may need to take a look into this [spring-data-gremlin](https://github.com/Microsoft/spring-data-gremlin).

[2019-03-01 02:44] usernameistom commented on #326
I used custom SQL to solve the collection property query, so I tested the performance first. In order to make the test environment consistent, I got the DocumentClient in SpringBean, not using sync cosmosdb-java-sdk

    public static DocumentClient getDocumentClient() {
        return (DocumentClient) SpringContextUtils.getBean("documentClient");
    }
    public static <T> Page<T> executePageQue

[2019-03-01 02:45] usernameistom commented on #326
There is another problem here. We can't query the previous page. How can we implement the third page?

[2019-03-02 14:43] Incarnation-p-lee commented on #326
@usernameistom
From our repo's perspective, we do not recommend user use native sql, which looks almost the same way like leverage sync sdk directly instead of our repo.

But if you mean something like `@Query`, and it is not supported yet.

Finally, about the page issue. You mean if you stated in the middle of pages, and want to query the previous page ? As I know, it looks like a stream but cann

[2019-03-03 11:47] sophiaso commented on #326
@usernameistom We don't support query the previous page, currently if you need to query the third page, you have to query the first, then the second, then the third. For how to query, [the integration test](https://github.com/Microsoft/spring-data-cosmosdb/blob/master/src/test/java/com/microsoft/azure/spring/data/cosmosdb/repository/integration/PageableAddressRepositoryIT.java) may help.

[2019-03-04 07:07] usernameistom commented on #326
I use custom SQL, can solve the query by collection attribute, the third page query, but the performance is a bit bad. I don't know which direction to optimize, can you give some advice?

[2019-03-04 14:02] sophiaso commented on #326
@usernameistom I'm not sure what kind of collection attribute and custom query you are using to do the third page query. If it's customized sql query with page number specified, is the continuation token still required in your `FeedOptions`?  As you shared in your [previous comment](https://github.com/Microsoft/spring-data-cosmosdb/issues/326#issuecomment-468521050).

[2019-03-04 14:16] usernameistom commented on #326
I used the “TOP” keyword and "order by c. _ts desc", not FeedOptions.

[2019-03-04 14:35] sophiaso commented on #326
Not sure whether [cosmosdb index](https://docs.microsoft.com/en-us/azure/cosmos-db/index-types#index-kind) will help in your case.

[2019-03-05 11:41] usernameistom commented on #326
I increased the RU and put the WebApp and DB in an area to solve the current performance problems. Thank you for your support.

[2019-03-13 07:08] ggthename opened #347 "unsupported keyword: GREATER_THAN (1): [IsGreaterThan, GreaterThan]"
I'm using Spring JPA + cosmos db.

[code]

[code]

Do you have any plan to add GREATER_THAN or BETWEEN ?
If you have alternative way to avoid this exception, please let me know.

Thank you!

[2019-03-13 07:22] sophiaso commented on #347
@ggthename Thanks for filing issue, according to your stack trace, seems you are using version `2.0.3`, if you are using Spring Boot 2.0.x, try upgrading to `2.0.6`.

[2019-03-13 07:36] ggthename commented on #347
@sophiaso Thank you for your response. I'm using azure-documentdb-spring-boot-starter 2.0.4
It has spring-data-cosmosdb-2.0.3

And azure-documentdb-spring-boot-starter 2.0.5 that has spring-data-cosmosdb-2.0.4 is the latest version.

you mean I need to add 2.0.6 manually. right?

[2019-03-13 08:06] sophiaso commented on #347
@ggthename You can use the `azure-cosmosdb-spring-boot-starter`(not azure-documentdb-spring-boot-starter) version 2.0.13, which uses spring-data-cosmosdb 2.0.6. `Between` should have been supported in 2.0.6, check [this issue](https://github.com/Microsoft/spring-data-cosmosdb/issues/144). Also you can reference the integration tests in this repo for the usage.

[2019-03-13 18:20] anshul-dhyani opened #348 "Pagination not working as expected"
I am trying to achieve limit functionality but it is not implemented yet in the artifact.
In order to achieve limit functionality I am trying to use pagination and sorting.
to get one page with 1 record but still it returns all the documents satisfying the query criteria (ignoring pagination)

[2019-03-14 00:58] ggthename commented on #347
@sophiaso Thank you! It works.
I think that it should be modified.
[Azure Cosmos DB Starter](https://docs.microsoft.com/ko-kr/java/azure/sring-framework/configure-spring-boot-starter-java-app-with-cosmos-db?view=azure-java-stable)

Because many people who want to use Azure Cosmos DB can access this page easily.
Can you explain the details?
What is the difference between **azure-cosmosdb-spring-boo

[2019-03-14 01:04] Incarnation-p-lee commented on #348
@anshul-dhyani
Thanks for issue this, could you please help to share some more details about this, like version, spring boot version, as well as minimal reproduce code ? So we can try to reproduce that from our side.

[2019-03-14 01:11] sophiaso commented on #347
As the previous `azure documentdb` brand has been renamed to [azure cosmosdb](https://docs.microsoft.com/en-us/azure/cosmos-db/introduction), so the starters and spring-data-cosmosdb is renamed. So please use the new starter `azure-cosmosdb-spring-boot-starter`, thanks.

[2019-03-14 10:42] anshul-dhyani commented on #348
Below are the dependencies used:
        <parent>
		<groupId>org.springframework.boot</groupId>
		<artifactId>spring-boot-starter-parent</artifactId>
		<version>2.1.3.RELEASE</version>
		<relativePath />
	</parent>

                <dependency>
			<groupId>org.springframework.boot</groupId>
			<artifactId>spring-boot-starter-web</artifactId>
		</dependency>

                <dependency>
		    <gro

[2019-03-14 14:18] Incarnation-p-lee commented on #348
@sophiaso
As paging related, could you please help to take a look for this issue ? Thanks a lot. 💯

[2019-03-14 18:13] anshul-dhyani opened #349 "While writing a query how to take care of fileds with _ in their name ?"
We are planning to use spring-data-cosmosdb artifact for writing new queries we want to finally move away from native queries and use spring-data abstraction .
But for existing collections which already have property names in snake case (Like first_name instead of firstName) how can I use this library?
it does not support adding one extra _ as escape character, is there a way to deal with entities

[2019-03-15 01:26] Incarnation-p-lee commented on #349
@anshul-dhyani
I am afraid you may need to follow the naming convention of Java. As spring-data framework keeps underscore as reserved char, see:

[Because we treat the underscore character as a reserved character, we strongly advise following standard Java naming conventions (that is, not using underscores in property names but using camel case instead).](https://docs.spring.io/spring-data/common

[2019-03-15 01:26] sophiaso commented on #348
@anshul-dhyani, according to the repository interface method you have shared:
`public List findByName(String name, Pageable pageable);`, to do paged query, the return type should be `Page<T>`,  i.e., the interface should be:
[code]

You can also refer to the integration test for [Repository](https://github.com/Microsoft/spring-data-cosmosdb/blob/master/src/test/java/com/microsoft/azure/spring/data

[2019-03-15 12:53] anshul-dhyani commented on #348
Thanks for pointing this out.

[2019-03-15 12:53] #348 closed

[2019-03-15 12:59] anshul-dhyani commented on #349
I know it is reserved keyword for spring data as it is used to break the string for proper property traversal.
But do we have any way to deal with the properties already named with _ in it ?
If not do we have any plan to support that ?

[2019-03-15 14:05] Incarnation-p-lee commented on #349
@anshul-dhyani
I think we can do something to bypass the spring-data internal rules to make `_` works well. But from the implementation and maintenance perspective, I may prefer not to do that workaround for following reasons:

* May need to learn the implementation of spring-data-commons, which means the workaround of this may depends on the implement details of spring-data. That may result in pr

[2019-03-15 21:35] christopheranderson opened #350 "Support partition key on nested object"
It is possible in Cosmos DB to set the partition key on a sub-object like so:

[code]

where the paths would be `["/path/to/partitionKey"]` in the collection settings.

In spring-data-cosmosdb, it appears you can only set it on the root object.

Ideally, we could support setting it on a leaf node as in the above sample.

[2019-03-16 14:00] Incarnation-p-lee commented on #350
Thanks for issue this. For now we only support at most one partitionKey from root Object.

[2019-03-18 13:05] anshul-dhyani commented on #349
Hi @Incarnation-p-lee ,

You got it correct, the POJOs have _ in the property name instead of being proper camel case, and I can't change it for existing collections.
for example we have collections with properties named with underscores in them and they use native azure cosmosDB sdk so they can work with them easily.
I thought it is good to use something like spring data so that in case you want

[2019-03-19 17:30] buckeyebrown opened #353 "Unable to reestablish CosmosDB connection with new key values"
On startup, our spring application is able to connect with the correct key value. However, upon refresh, the AbstractDocumentDbConfiguration's getConfig method is not refreshing the value for the key and we are unable to reestablish our connection to CosmosDB with the new, refreshed key value.

Afterwards, we are getting 401s with an unauthorized because it is using the previous key.

[2019-03-19 18:12] achyutdev commented on #353
I had the same issue sometimes back, I tried to use azure key-vault to set cosmosdb key and rotate the key periodically. In order to get a new key from key-vault after it rotates, I had to refresh configuration to establish a new connection. I was able to retrieve new DocumentDBConfig with a new key but could not load that configure. So, The application broke with authorization exception. Is there

[2019-03-20 00:55] Incarnation-p-lee commented on #353
Thanks for issue this, just double confirm, you would like to refresh the connection string through some message like cloud bus dynamically, right ?

[2019-03-20 14:05] sheekaat commented on #353
We use the Azure cloud platform for our resources like cosmos, key vault etc... I guess, the below steps should be able to describe the issue theoretically.
1) Created the CosmosDB ( using SQL Api ) and Azure Key Vault in Azure.
2) Keep the Cosmos db keys (secondary) in the Azure key vault as a secret.
3) We rotate the cosmos db keys through azure run book process and override the key in the Key v

[2019-03-20 14:12] achyutdev commented on #353
In my case, We did not use cloud bus. The connection string of cosmos-db in Azure is refreshed independently using Azure runbook and set it into Azure key-vault. The application throws the unauthorized exception, when the application tries to access the db. Then we catch the exception, get the new connection (using DocumentDbConfiguration getConfig), refresh using spring actuator and try again. bu

[2019-03-21 05:26] sophiaso commented on #353
@sheekaat thanks for sharing the scenario, could you share how do you use the key vault secret for cosmosdb configuration?

As far as I understand, the properties for the cosmosdb starter has been refreshed, but other beans relying on the properties bean is not refreshed, it's the `DocumentDBConfig` here. As the `DocumentDBConfig` is not a bean created from injected properties, the `DocumentDBConf

[2019-03-21 11:19] anshul-dhyani opened #354 "How to set request unit for a colection from property file"
Hi,

We want to have different request unit for our application in different environments, for that we thought to add a property in application.properties and can reference like below :
@Document(collection = "collectionX" , ru = "${collection.ru}")

but while trying to resolve ${collection.ru} it is not evaluating as it is not receiving the value for parsing but getting the same string.

How can

[2019-03-21 13:37] sheekaat commented on #353
Let us give the key snippets here.
**application.properties**
`azure.cosmosdb.uri=https uri
azure.cosmosdb.key=key vault secret name for cosmos db key
azure.cosmosdb.database=database name

azure.keyvault.uri=https uri
azure.keyvault.client-id=client id
azure.keyvault.client-key=client key
`
The configuration class where we created the DocumentDBConfig by extending the AbstractDocumentDbConfigurat

[2019-03-21 14:09] Incarnation-p-lee commented on #354
@anshul-dhyani
Thanks for issue this. The `@Document` config about ru is designed to multiple repositories with different ru values. By default, it only support literal value instead of placeholder.

But you can do that by provide one customize RequestOption as configuration properties when you config. And then update ru by `setOfferThroughput`.

[2019-03-21 14:34] Incarnation-p-lee commented on #349
@anshul-dhyani
Sorry for late reply, from you description, I think you may need something like adapter or proxy class. Which can delegate the query instead of the target class. For example:

[code]

And then you can query by adapter class fields, but may need more memory up to a point.

[2019-03-21 14:56] anshul-dhyani commented on #354
@Incarnation-p-lee ,

Thank you for the quick reply, but do we have any sample how to use it with spring data for cosmos db

[2019-03-21 15:01] anshul-dhyani commented on #349
Thank you @Incarnation-p-lee ,

I doubt if it will work as already collections are created with the underscore signs and when we define query it tries to match with property names of entity and make query with those properties and if the resultant query is not having underscores then it wont be able to fetch from DB, but I'll give it a try anyway.

[2019-03-22 01:45] Incarnation-p-lee commented on #349
@anshul-dhyani
Np, any problem please feel free to contact us.

[2019-03-23 01:05] markusgulden opened #355 "basePackageClasses and basePackages do not work with @EnableDocumentDbRepositories"
If I have my config class and repository interface in different packages, Spring does not find the repository, even if I set basePackageClasses or basePackages with the @EnableDocumentDbRepositories annotation:

`org.springframework.beans.factory.NoSuchBeanDefinitionException: No qualifying bean of type 'de.margul.awstutorials.springcloudfunction.azure.repository.CosmosDemoEntityRepository' availa

[2019-03-26 16:04] sheekaat commented on #353
@sophiaso @Incarnation-p-lee Did you get chance to look into this?

[2019-03-29 01:14] sophiaso commented on #353
@sheekaat Could you verify PR

[2019-03-29 16:31] sheekaat commented on #353
Thanks for your response @sophiaso .

More interesting is that **azure.cosmosdb.key** is not the one we should use as a property for key retrieval. It should be the key vault secret name.

We tried by building on top of your PR #357, and unfortunately, it's the same behavior though. Here are the key steps we did.
1) Build the PR #357 and added as a dependency.
2) Followed different approaches on u

[2019-04-01 02:18] sophiaso commented on #353
@sheekaat I have drafted a sample using [Azure App Configuration](https://docs.microsoft.com/en-us/azure/azure-app-configuration/) to store key-values in this [github repository](https://github.com/sophiaso/spring-cosmosdb-refresh), not using key vault. And the `spring-data-cosmosdb` version used is `2.1.2` not snapshot.

As you mentioned you can refresh `DocumentDBConfig` with key vault, it shoul

[2019-04-01 03:59] sophiaso commented on #353
Another branch is also available for [refresh with keyvault](https://github.com/sophiaso/spring-cosmosdb-refresh/tree/keyvault-refresh).

[2019-04-01 15:19] sheekaat commented on #353
@sophiaso  Thanks for your response. We tried with this branch[https://github.com/sophiaso/spring-cosmosdb-refresh/tree/keyvault-refresh] and there is no luck with this.

Upon checkout "refresh with keyvault" branch, we added a @PostMapping("/createUser") to the UserController to see if the saving to repo works even after the refresh.
`@PostMapping("/createUser")
  public User createUser() {

[2019-04-01 15:28] sophiaso commented on #353
@sheekaat, I forgot to mention or write in the reply/readme, for the key vault refresh sample, an extra post request has to be sent to trigger the refresh: `POST http://localhost:8080/actuator/refresh`. The app configuration sample does not need to trigger the post request.

[2019-04-01 16:12] sheekaat commented on #353
@sophiaso Thanks for sharing that info. We tried even with actuator refresh, but, still seeing the failures as mentioned in the previous comment.

[2019-04-02 07:18] ggthename opened #359 "Limiting is not supported."
I'm trying to use findTopxxx method on DocumentDbRepository with azure-cosmosdb-spring-boot-starter 2.0.13, spring-data-jpa 2.0.10 and spring-boot-starter-web 2.0.5

[code]

[2019-04-03 01:33] sophiaso commented on #353
@sheekaat Thanks for trying, but I cannot reproduce your issue, sharing my steps to cover the scenario, let me know if this is not the scenario you are expecting.

1. Fill all the required properties in [application.properties](https://github.com/sophiaso/spring-cosmosdb-refresh/blob/keyvault-refresh/src/main/resources/application.properties)
2. Create `my-cosmosdb-key` secret in Key Vault with th

[2019-04-03 02:59] sophiaso commented on #353
@buckeyebrown @achyutdev Could you help check whether the [refresh with keyvault sample](https://github.com/sophiaso/spring-cosmosdb-refresh/tree/keyvault-refresh) sample solves your problem?

[2019-04-03 19:43] eduardomaillo opened #360 "Openfeign conflict with azure-documentdb"
The app works fine , but when openfeign dependency is added to pom.xml, it crashes at runtime.

This is the error:
[code]

This is pom.xml:
[code]

[2019-04-03 20:05] buckeyebrown commented on #353
Thank you for the sample app, it was very helpful. Reattempted this, and the refresh was working. However, it seemed to take a second for the application context to refresh with the new key. So we would have a second or two of downtown while it would throw unauthorized exceptions.

Is this expected, and do you know how long it typically would take for a refresh?

[2019-04-03 23:08] sheekaat commented on #353
@sophiaso  I was trying to hit the endpoints immediately after /actuator/refresh returned the response. That means, I believe, even though key is refreshed and the cosmos API objects are ready with new key, still there might be connections using the old key/auth(may be old connection pool?). Is this scenario possible?

[2019-04-04 00:24] Incarnation-p-lee commented on #360
Thanks for your issue. As documentdb is legacy name, as well as spring boot 2.1.x should be work with spring-data-cosmosdb 2.1.x. Could you please help to have a try with our [newest version](https://github.com/Microsoft/spring-data-cosmosdb/releases/tag/v2.1.2). ?

[2019-04-04 01:30] sophiaso commented on #353
@buckeyebrown @sheekaat I think before the refreshed finished, failure request can happen if the beans have not finished refreshing. Wonder you could use `Spring Retry` to retry such failed operation, when unauthorized happened?

[2019-04-04 01:48] xscript commented on #353
@buckeyebrown @sheekaat
My understanding is this is the expected behavior for context refresh in Spring. It makes sense to me that the *old* connections need to be closed gradually to avoid downtime.

From what you guys described above, looks like the old key has been revoked when you trigger the refresh.
There are two secrets to access CosmosDB: *primary key* and *secondary key*.  A general pract

[2019-04-04 20:58] sheekaat commented on #353
Thanks for sharing your thoughts @xscript @sophiaso. Do you happen to know/think of any way to avoid downtime (without holding the requests or waiting on the App side) while updating/refreshing the keys?

[2019-04-04 23:57] sheekaat opened #361 "A user defined class as @Id"
Currently, we can only use String, Integer or int types as a @id . If we want to use the composite unique key, then it's inevitable to use the low level api to set it on document entity. Is there an alternative way which avoid using low level API?

[2019-04-05 10:03] sophiaso commented on #353
@sheekaat, I think [this comment](https://github.com/Microsoft/spring-data-cosmosdb/issues/353#issuecomment-479718917) already solves the issue you mentioned. i.e., before regenerating your primary key, switch to secondary key in your app first.

[2019-04-05 14:16] sheekaat commented on #353
@sophiaso  That's exactly true if we know when the secrets are updated. That means the refresh calls are tightly coupled to the updates made to the keys in the Azure key vault.

I guess I can post this under the sprint azure key vault repo to see if there're any events we can listen to in case of the secret updates in the key vault, so that we can call actuator refresh.

Anyway, Thanks for your su

[2019-04-05 19:09] eduardomaillo commented on #360
Thanks for your repsonse.

Switched to CosmosDB.
Now, it throws this error at runtime:
[code]

[2019-04-06 00:13] eduardomaillo commented on #360
Solved.

[2019-04-06 00:13] #360 closed

[2019-04-08 02:28] xscript commented on #353
@sheekaat Are you saying you don't control when the secret is updated in Key Vault?

[2019-04-08 23:44] sheekaat commented on #353
@xscript let’s say we do. In that case also, I see the two options which is tightly coupled or need extra implementation details
1) pull approach: A scheduler which run right after the secrets update. This is tightly coupled with the secret update timings.
2) push approach: the process which runs  the secrets update (run book)
    - Call directly refresh on all nodes of app.
    - Send an event to

[2019-04-10 15:35] xscript commented on #353
@sheekaat These are pretty much all possible options for current situation.

[2019-04-12 14:35] sheekaat commented on #361
@sophiaso @xscript @Incarnation-p-lee Do we've Azure cosmos DB account to contribute to this? I created trial account but my free credit is all consumed because of the integration tests. I'm on Mac and I can't run the Emulator.
Started doing this initially by modifying the DocumentDbEntityInformation class (Moving the condition of checking String, Integer or Int to the User defined class propertie

[2019-04-15 15:13] jamesggraf opened #362 "IgnoreCase and AllIgnoreCase don't appear to function properly"
When using the query builder mechanism in Spring Data, the `IgnoreCase` and `AllIgnoreCase` keywords don't appear to function properly. For example, creating a Repository with the following method signature successfully creates a function that queries by first name and last name, but does so in a case sensitive manner
`List<Person> findByLastnameAndFirstnameAllIgnoreCase(String lastname, String fi

[2019-04-22 22:14] blackbaud-alanacable opened #363 "Pagination and Sorting"
When using Pagination with Sorting, only the first page is sorted.  The rest of the pages are unsorted.  For example, a list with 5 elements, starting from page1
`Page<SiteUserEntity> page = repository.findAll(DocumentDbPageRequest.of(1, 2, Sort.Direction.ASC, "email"))`
The elements of the first page will be sorted by email.  To request the second page
`Page<SiteUserEntity> page2 = repository.fin

[2019-04-23 05:35] sophiaso commented on #363
@blackbaud-alanacable Great, thanks for reporting issue with detailed description even workaround, interested in opening a pull request to fix this?

[2019-04-23 22:47] blackbaud-alanacable commented on #363
Sure.  I can do that in a few days.

[2019-04-25 20:53] blackbaud-alanacable commented on #363
I created a PR (https://github.com/Microsoft/spring-data-cosmosdb/pull/364).    I am getting an error `java.lang.IllegalArgumentException: cosmosdb host key should have text!` when it runs in the CI.  What do I need to do to get the tests to run in travis?

[2019-04-26 01:14] sophiaso commented on #363
@blackbaud-alanacable Thanks for the quick fix, the travis CI will break when it's a forked repo, I have just added you as a collaborator and you should receive an invitation link. Please create a new branch under this repo directly and open a new pull request, to pass the TravisCI.

[2019-04-29 17:29] blackbaud-alanacable commented on #363
Thanks @sophiaso.  I closed the original PR and opened a new one (https://github.com/Microsoft/spring-data-cosmosdb/pull/365) as a branch on this repo.

[2019-05-01 21:35] blackbaud-alanacable opened #366 "Pagination returns all the documents"
Hi,

Let's say I have a Cosmos database with 10,000 documents.  I do a `findAll` query with a page size of 20.    On line 498 (in the paginationQuery method) of DocumentDbTemplate, I set a breakpoint.  For the first page, I hit that breakpoint and inspect `sqlQuerySpec`.  The query is `SELECT * FROM ROOT r`.  The iterator that is returned back contains all 10,000 documents.  It is the for loop on

[2019-05-01 21:45] blackbaud-alanacable commented on #366
On Page2, using the continuation token 9980 documents are returned, on page3, 9960 documents are returned and so on.

[2019-05-01 23:11] blackbaud-alanacable commented on #366
I see whats happening now.  The data is fetched in the iterator.  Im closing this issue, since I was mistaken.  Sorry :(

[2019-05-01 23:11] #366 closed

[2019-05-06 09:39] CVigneshwar commented on #359
I face the same problem for findFirst as well !

[2019-05-09 12:05] jainro opened #368 "Support for the Unique Key for a Collection"
Adding Unique Key Constraints in Azure CosmosDB is supported now
https://docs.microsoft.com/en-us/azure/cosmos-db/unique-keys

When will this be supported by the spring-data-cosmesdb?

[2019-05-09 14:54] Incarnation-p-lee commented on #368
@mbhaskar Could you please help to share some information about this ?

[2019-05-20 14:15] sheekaat commented on #353
@xscript @sophiaso @Incarnation-p-lee
We see that the PR #357 is not yet merged. Is this going to be in 2.1.2? or planning to keep it in different version?

[2019-05-28 06:56] anuraggupta opened #371 "CriteriaType has no NE(Not equals) operator"
I'm using documentDBTemplate in my spring application. I'm struggling to create a DocumentQuery with Not Equals criteria.

[2019-05-29 11:29] anuraggupta opened #372 "How to perform Optimistic Locking while updates or atomic increments ?"
I need to perform atomic increments of a integer field.
How do I achieve this ?
1. Some operator
2. optimistic locking (but how implement this ?)

[2019-05-30 11:01] vigneshklncit opened #373 "EnableCrossPartitionQuery Support"
How can i enable cross partition queries on my repositories in spring data?

I am getting error
com.microsoft.azure.documentdb.DocumentClientException: Cross partition query is required but disabled. Please set x-ms-documentdb-query-enablecrosspartition to true, specify x-ms-documentdb-partitionkey, or revise your query to avoid this exception.

[2019-05-30 12:15] sophiaso commented on #373
@vigneshklncit Could you check whether [this document](https://github.com/microsoft/spring-data-cosmosdb/blob/master/QueryPartitionedCollection.md) helps?

[2019-05-30 13:07] anuraggupta opened #374 "Cannot create querty with 2 conditions on the same field"
Here my Query
[code]
Here is the exception
[code]

[2019-05-31 09:11] anuraggupta opened #375 "How to create query with both a Function and a operator ?"
How to create a query like below using Criteria

SELECT* from R NOTIFICATIONS where ARRAY_LENGTH("R.TARGET_DEVICES") = 0

Any help is appreciated.

[2019-06-07 19:31] siddhantg-cbre commented on #319
I was able to create a database with db provisioned throughput from the CLI, add collections to it, and then point the starter to the database to run queries. However when I try to create a new collection on it, the new collection doesn't share the throughput, but provisions it's own

[2019-06-08 00:35] sophiaso commented on #353
@sheekaat, just merged the pull request to master branch, it's not released yet, but snapshot build is available, refer details [here](https://github.com/microsoft/spring-data-cosmosdb#snapshots).

[2019-06-11 14:53] Blackbaud-ErikBudtke commented on #363
@sophiaso I was also wondering if I could be added as a collaborator. I have a PR I would like to raise as well, just wasn't sure where the best place to reach out was.

[2019-06-12 00:58] Incarnation-p-lee commented on #363
@Blackbaud-ErikBudtke done, please help to check invite link from you email.

[2019-06-12 11:36] amanganiello90 opened #378 "Use Optimistic lock with @Version annotation on _etag field"
Hi all,
As said by #372 , how to implement the optimist lock in spring data? I have tried to use in my entity the _etag field (a cosmosdb system field updated automatically in every document changing explained in [cosmos concurrency microsoft guide](https://docs.microsoft.com/bs-latn-ba/azure/cosmos-db/database-transactions-optimistic-concurrency#optimistic-concurrency-control)) with spring data @

[2019-06-13 01:09] Incarnation-p-lee commented on #378
For now, this feature is not supported, and will add to our backlog.

[2019-06-14 13:35] apescione opened #379 "Using Resource tokens instead of the MasterKey to access to Cosmos DB"
At the moment, it seems that there aren't any support to use Resource Token instead of Master Key to authenticate application on Cosmos DB. Is there this kind of feature in your backlog?If yes, is there a way where I can see the RoadMap?

[2019-06-17 21:49] kxmas opened #380 "Customized ZonedDateTime format in ObjectMapper gets overridden"
My own custom ZonedDateTime format is overridden by the `com.microsoft.azure.spring.data.cosmosdb.core.convert.MappingDocumentDbConverter.readInternal` method

Here is the culprit:
https://github.com/microsoft/spring-data-cosmosdb/pull/264

`objectMapper.registerModule(provideAdvancedSerializersModule());`

[2019-06-22 18:37] allenhumphreys commented on #368
The unique key policy should be supported similar to how `@DocumentIndexingPolicy` works, but supplying an annotation on the document class.

[2019-06-23 01:11] Incarnation-p-lee commented on #368
Thanks a lot, that should be something for serivce side configuration. We will add it to our feature list.

[2019-06-23 14:04] allenhumphreys commented on #368
As a workaround while waiting for first class support of this feature, I have come up with the following (in Kotlin):

[code]

[2019-06-27 18:21] swagulkarni commented on #353
@sophiaso - We are also facing similar issue discussed in this thread and looks like its addressed in the PR# 357.

Can we use the snapshot build for our production application? If not, when is this planned to be part of the major/minor release?

[2019-06-27 18:34] swagulkarni commented on #353
Moreover, we are using Azure function to replace the cosmos key in the vault and then regenerate the primary/seconday key in cosmos.
In this case, how would our spring boot app running in AKS cluster know that the secret value has been updated in the vault?
@sophiaso

[2019-06-27 18:44] sheekaat commented on #353
@swagulkarni If you're using spring boot key vault starter, then, if you try to access the same secret after 30 minutes(default time to hold old secret, but you could configure it), then, you would see new secret. Then, you can send spring actuator refresh event. So that the spring boot app refresh the context. (You would see the context refresh initialization latency may be few seconds.)

This is

[2019-06-27 18:57] swagulkarni commented on #353
@sheekaat  - Thanks for your prompt response. However, I am not entirely clear on the steps. Let me clarify what we are trying to achieve.

1. We have an Azure function which performs the following logic on a scheduled basis (once in 7 days)
  a. Compare the cosmos key stored in vault with the primary and secondary key in cosmos db
  b. If it matches primary key, replace the value in vault with th

[2019-06-27 19:03] sheekaat commented on #353
@swagulkarni
https://github.com/Microsoft/spring-data-cosmosdb/issues/353#issuecomment-481047627
From the options mentioned in there, 1 and 2 (c) looks like you could use if you don't have concern on the context refresh latency.

[2019-06-27 19:29] swagulkarni commented on #353
@sheekaat  - Regarding option 2c, i.e. using Spring cloud bus to trigger refresh event, is it possible to hook the cloud config server to the key vault update event (if there is any) so that it pushes the updates to the each app server containers once the secret is updated?

Also, you mentioned to use option 1 and 2(c) if there is not concern on the context refresh latency. Of course, the latency

[2019-06-27 19:32] allantargino commented on #18
Hi @qwazer. This standalone solution worked for me:

[code]

[2019-06-27 19:33] allantargino commented on #18
We can think a way on how to best merge this (or similar) code to spring actuator project.

[2019-06-28 09:13] sonik9 opened #384 "Proxy is not working"
Hello, before I used "azure-documentdb" dependency and proxy configuration worked good. But now I need to use "spring-data-cosmosdb" and :
 ConnectionPolicy connectionPolicy = new ConnectionPolicy();
        connectionPolicy.setProxy("127.0.0.1",3128);
        return DocumentDBConfig.builder(host, primaryKey, databaseName)
            .connectionPolicy(connectionPolicy)
            .consistencyLev

[2019-06-28 09:22] sonik9 commented on #384
It is for version 3.0.0.M1

[2019-06-28 12:58] Incarnation-p-lee commented on #384
Thanks a lot, could u please share why u would like to use 3.0.0.M1 ? We may not recommend this version as it depends on RxJava1.x which will EOL.

[2019-06-28 14:00] sonik9 commented on #384
I try to use RxJava in project, and this only one version with Rx. What can you recommend? Which version?
Using a proxy is important to me.

[2019-07-01 02:34] tapanpDoe opened #385 "how to write native sql in @Repository"
I am using "azure-cosmosdb-spring-boot-starter" to talk to cosmos DB. Normal CrudRepository queries (findAll, findByColumnName etc) works fine, I am getting following exception while executing native query:
`com.microsoft.azure.spring.data.cosmosdb.exception.DocumentDBAccessException: Failed to execute find operation from student_assessment_summary; nested exception is java.lang.IllegalStateExcept

[2019-07-01 02:39] Incarnation-p-lee commented on #385
@tapanpDoe
Looks the you mean `Query` annotation but this is not supported yet. I will add it to our feature list.

[2019-07-01 18:03] swagulkarni commented on #353
@sheekaat  - Can you tell the property name in key vault starter project that can be used to configure the time duration until old key value is held?

[2019-07-01 18:42] sheekaat commented on #353
@swagulkarni  com.microsoft.azure.keyvault.spring.Constants.DEFAULT_REFRESH_INTERVAL_MS

[2019-07-05 11:14] DaireJN commented on #385
+1 for this feature.

[2019-07-08 03:06] isaac-ipl commented on #317
@Incarnation-p-lee
I'm a bit confused with the partition key requirement. What happens if we want to list all users by first name only?

[2019-07-09 23:30] tanhuynh opened #386 "Create Collection with UniqueKey specification"
Is there any way I can define the UniqueKeyPolicy using createCollectionIfNotExists API?

[2019-07-11 02:31] Incarnation-p-lee commented on #386
better to support this from `@Document` annotation.

[2019-07-12 19:54] blackbaud-alanacable opened #388 "CI Pipeline not working"
Hi,

I created a test PR (https://github.com/microsoft/spring-data-cosmosdb/pull/387) to see if the CI pipeline was working.  The tests are failing (https://travis-ci.org/microsoft/spring-data-cosmosdb/jobs/558000802) with the following error ```The input authorization token can't serve the request. Please check that the expected payload is built as per the protocol, and check the key being used.

[2019-07-18 15:56] Incarnation-p-lee commented on #388
Thanks for issue this, will investigate soon.

[2019-07-18 15:57] Incarnation-p-lee opened #389 "Support `@Query` annotation from spring-data-commons"
Add related issue here.

* [ ] #385
* [ ] #375
* [ ] #326

[2019-07-18 20:00] dsibilio opened #391 "Support SpEL expression resolution for @Document "collection" field"
It would be nice to be able to dynamically load a collection name using SpEL expressions.

Examples:
- from **property source**:
e.g.
[code]
---
[code]
- from **bean** field/method invocation:
[code]

## Pull Requests
https://github.com/microsoft/spring-data-cosmosdb/pull/390

[2019-07-18 20:23] dsibilio opened #393 "Typos in HowToContribute.md"
There are some typos in [HowToContribute.md](https://github.com/microsoft/spring-data-cosmosdb/blob/master/HowToContribute.md)

_Emu**a**lator -> Emulator_
_Comos DB -> Co**s**mos DB_

## Pull Request
https://github.com/microsoft/spring-data-cosmosdb/pull/392

[2019-07-21 17:02] dsibilio commented on #378
@amanganiello90, @Incarnation-p-lee: opened PR #396 for a possible implementation

[2019-07-22 06:19] xscript commented on #388
@saragluna could we double confirm that CI is fixed? If so, let's close this issue.
Thanks!

[2019-07-25 01:43] xscript opened #398 "Clean up Codacy code review rules"
Let's clean up Codacy code review rules so that we don't have to manually fix them for every PR.

[2019-07-25 02:24] #393 closed

[2019-07-25 02:36] Incarnation-p-lee commented on #398
close this due to codacy will delete the comments automatically once resolved, on behalf of me.

[2019-07-25 02:36] #398 closed

[2019-07-25 05:18] warrenzhu25 opened #399 "Provide support to use custom documentdbfactory bean"
I want to provide my own implementation of `DocumentDbFactory` bean. But now it's unsupported.

[2019-07-25 20:11] swagulkarni opened #400 "How to pass Custom ConnectionPolicy to build DocumentDBConfig?"
Hi,

The OOTB DocumentDBConfig class has static methods to build the DBConfig but it uses the default ConnectionPolicy.

public static DocumentDBConfigBuilder builder(String uri, String key, String database) {
        return defaultBuilder()
                .uri(uri)
                .key(key)
                .database(database)
                .connectionPolicy(**ConnectionPolicy.GetDefault()**)

[2019-07-26 02:51] saragluna commented on #400
@swagulkarni you can customize your connectionPolicy as code shown below:

[code]

[2019-07-26 17:44] swagulkarni commented on #400
Thanks, thats helpful.

[2019-07-26 19:10] dsibilio commented on #399
Isn't it sufficient to add the following in your project that uses spring-data-cosmosdb?
[code]

[2019-07-27 02:26] Incarnation-p-lee commented on #400
@saragluna
As some users ask for this, can we add this to our readme about this ?

[2019-07-27 03:26] saragluna commented on #400
Will update the readme, close this issue.

[2019-07-27 03:26] #400 closed

[2019-07-29 01:23] meantiger opened #403 "Use Multiple DataSource(With CosmosDB) In Spring boot JPA"
In formal case If I want to use multiple datasource in Spring boot with JPA
(For Example, Use Mysql For UserInfo & Use h2 for merchandise data)

I set the properties & just make two Kinds of Config like this

@Configuration
@EnableTransactionManagement
@EnableJpaRepositories(
  basePackages = {"====.repository"})
public class CustomerDataSourceConfig {

  @Primary
  @Bean(name = "dataSource")
  @C

[2019-07-29 07:46] saragluna commented on #403
@meantiger  Do you mean multi-store?

As I understand you could create separate configs for them if you want to use JPA with CosmosDB.

[code]

[code]

[2019-07-29 09:44] abhi2june opened #404 "Reactive support for Cosmos DB"
Need help in alternative of org.springframework.data.mongodb.repository.ReactiveMongoRepository<T,ID>
[link](https://github.com/spring-projects/spring-data-mongodb/blob/master/spring-data-mongodb/src/main/java/org/springframework/data/mongodb/repository/ReactiveMongoRepository.java)

for Cosmos Db

[2019-07-29 10:03] saragluna commented on #404
Thanks for reaching out to us. Actually we have been working on this feature for a while. Hope to release this feature soon.

[2019-07-30 06:39] meantiger commented on #403
@saragluna First of all Thx U for comment.
Yes. As U mentioned I try multi-store. And I did what U said.
However unfortunately It's not working well.........

So, I upload my details src.

First I import this spring-data-jpa
    <dependency>
    <groupId>org.springframework.data</groupId>
    <artifactId>spring-data-jpa</artifactId>
    </dependency>

and my application.properties are like this

[2019-07-31 03:05] saragluna commented on #403
@meantiger If you don't want to customize EntityManager or TransactionManager, you can simply remove these beans:
[code]
If you have to customize EntityManager and since you're using spring-data-jpa, you can customize the bean like this:

[code]

[2019-07-31 06:14] meantiger commented on #403
@saragluna Really thank U again. and I hope This is my Last Question.

`import org.springframework.beans.factory.annotation.Qualifier;
import org.springframework.boot.context.properties.ConfigurationProperties;
import org.springframework.boot.jdbc.DataSourceBuilder;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import org.springfra

[2019-07-31 15:57] saragluna commented on #404
#394 has been merged. Close this issue.

[2019-07-31 15:57] #404 closed

[2019-07-31 15:58] saragluna commented on #403
@meantiger I'm thinking is it possible for you to create a minimal project so I can help to find the problem?

[2019-08-01 04:30] meantiger commented on #403
@saragluna THX. [https://github.com/meantiger/iot-device-telemetry](url) This is my minimal project.

Thx U.

[2019-08-01 08:08] saragluna commented on #403
@meantiger after test CosmosDB can work with multi-store, you could check it with your repo PR. Close this issue.

[2019-08-01 08:08] #403 closed

[2019-08-01 11:42] dsibilio opened #406 "Spring Data Cosmos 3.0.0.M1 is not compatible with Spring Boot 2.1.X"
spring-data-cosmosdb 3.0.0.M1 is not compatible with Spring Boot 2.1.X (it seems spring-data-commons 2.1.X is the real culprit).

You can refer to #302 , as the error is the same:

[code]
This issue has been closed for spring-data-cosmosdb 2.1.X but is still present in 3.0.0.M1.

PS. *I have noticed that reactive implementation has been added with #394 on master, does this mean that 3.0.0.X is cur

[2019-08-02 00:48] meantiger commented on #403
@saragluna It's Work! and I merge it my real project. and It work well too.
Sincerely Thx U.

[2019-08-02 12:39] amanganiello90 commented on #378
I have tested it for me, and it's ok. @Incarnation-p-lee please review that and give feedbacks. Thanks

[2019-08-02 14:04] Incarnation-p-lee commented on #378
@saragluna
Please help to review #396 .

[2019-08-07 09:12] saragluna commented on #388
CI's been fixed, close this issue.

[2019-08-07 09:12] #388 closed

[2019-08-07 21:57] Yishagerew opened #407 "DocumentBulkExecutor support for bulk delete and update"
Hi,
As far as I see, there is no support for BulkExecutor in spring data, and we are planning to use spring-data for cosmosDB without relying directly on DocumentClient.

Can we add it in the issue catalog?

[2019-08-12 12:38] denisw opened #409 "NoClassDefFoundError with Spring Boot 2.2.0.M5: IsNewStrategyFactory"
The `IsNewStrategyFactory` interface was [removed in Spring Data 2.2](https://github.com/spring-projects/spring-data-commons/commit/0bf160eb971819ea64bed92c5bc1fa323fd5f2b7#diff-d554d04fc731ed8b3550029e3a7ae310).

[2019-08-12 16:18] rishits85 opened #410 "ropertyReferenceException: No property saveAll found for type"
While using spring data cosmos db version 2.1.2 I am getting the following error

Caused by: org.springframework.data.mapping.PropertyReferenceException: No property saveAll found for type MyType

Below is my class:

[code]
This happens only for the saveAll method. If I do the save method it works fine. What am I missing?

[2019-08-12 18:11] rishits85 commented on #410
Figured out the issue. I had overridden the method saveAll in my interface which is already implemented in the CRUDRespository interface extended by DocumentDBREpository

[2019-08-12 18:11] rishits85 commented on #410
Figured out the issue. I had overridden the method saveAll in my interface which is already implemented in the CRUDRespository interface extended by DocumentDBREpository

[2019-08-12 18:11] #410 closed

[2019-08-28 22:22] kushagraThapar commented on #380
Hello @kxmas , yes this is an issue, and we are fixing it soon.
I am planning to register the modules in MappingDocumentDbConverter, and not on the readInternal method, would that be okay ?

Also, I noticed that `MapperFeature.IGNORE_DUPLICATE_MODULE_REGISTRATIONS(true)` is enabled by default, so registering shouldn't have overloaded your ZonedDataTimeFormatter because it takes the first registere

[2019-08-28 22:26] kushagraThapar opened #415 "Memory leak in MappingDocumentDbConverter readInternal"
MappingDocumentDbConverter register modules to objectMapper on every readInternal call. This becomes very costly for long running applications.

objectMapper should be configured while instantiating the objectMapper in MappingDocumentDbConverter.

[2019-08-29 14:00] kxmas commented on #380
Hi @kushagraThapar,

As I understand it, modules are collections of formatters, and not the formatters themselves, so to me it's not clear what the behavior will be.

My problem with the code is that it was registering the formatter every time it deserialized something. Moving that registration out of readInternal is the right thing to do, which is why I also did that in the [PR](https://github.co

[2019-08-31 12:57] Thommynator commented on #391
Hi, this feature would be really helpful. 👍
Right now I'm looking for away to make the collection name configurable by a property file like in the fist option.

I noticed that the pull request has merge conflicts. Are there any plans to add this feature in the near future? :)

Can anyone tell me the best practice for making the collection name configurable without this change?

[2019-08-31 13:50] dsibilio commented on #391
Thanks for noticing, I pulled the changes and solved the conflicts. The Travis CI pipeline for integration tests seems to be broken though :(

Without this feature, I think you'd have to work with changing the collection name reflectively at runtime (e.g. https://www.baeldung.com/java-reflection-change-annotation-params)

[2019-09-03 18:23] christopheranderson commented on #409
Thanks for reporting this. We're working on aligning once RC1 is shipped, but might do a Milestone sooner.

[2019-09-03 18:25] christopheranderson commented on #407
We're working on a new bulk utility for the azure-cosmos library that should "just work" with Spring, just need to expose the throughput optimized vs latency optimized switch we have planned.

[2019-09-03 18:27] christopheranderson commented on #406
Do not use 3.0.0.M1 - we're aligning our versions to match the rest of Spring Boot ecosystem.

[2019-09-03 18:27] #406 closed

[2019-09-03 18:28] christopheranderson commented on #391
@kushagraThapar - can you take a look at this?

[2019-09-04 08:36] apescione opened #418 "Upgrading azure-documentdb version from 1.16.2 to latest 2.x"
Spring Data Cosmos 2.1.7 is using the older version of azure-documentdb (1.16.2), so we cannot use new features, and moreover we cannot use some libraries that needs 2.x version, like the latest documentdb-bulkexecutor.
Overriding the version of azured-documentdb to the latest, we could face some issues.
Is there a way to check compatibility among these versions?

[2019-09-09 15:22] marcokleijer opened #423 "Sorting throws exception when pageSize is less than total items in repository"
When I have a Cosmos DB configured with SQL Api,
and use spring-data-cosmosdb to write and read from this database,
and I try to paginate and sort with a pageSize less than the total items available in the database,
I get the following exception:

[code]

which boils down to the following code
[code]

Use attached project to reproduce the issue.
[paging-sorting-issue.zip](https://github.com/micros

[2019-09-09 19:10] marcokleijer commented on #423
For now I have a workaround by overriding the serialization configuration of `QueryItem` with:
`Utils.getSimpleObjectMapper().addMixIn(QueryItem.class, QueryItemMixIn.class);`
and:
[code]
Problem lies in Jackson trying to serialize the Logger exposed by `com.azure.data.cosmos.JsonSerializable#getLogger()` which is inherited by `QueryItem`.

[2019-09-10 23:56] kushagraThapar commented on #415
Fixed in version 2.1.2.1

[2019-09-10 23:56] #415 closed

[2019-09-10 23:59] kushagraThapar commented on #418
azure-documentdb has announced deprecation. It will be deprecated in Jan 2020.

Spring-data cosmosdb is moving away from azure-documentdb.
2.1.7 release introduced ReactiveCosmosReporitory based on cosmosdb v3 SDK and also uses cosmosdb v3 SDK  for implementation of DocumentDbRepository.

Since the deprecation will happen in Jan 2020, we still plan to support it.

I can update the version of azure

[2019-09-11 00:03] kushagraThapar commented on #391
@dsibilio I have moved the travis CI to Azure DevOps CI, which supports running the CI on PRs from forked repository.
I have tried running that on your PR, but there are still some hiccups. I will fix that asap.

[2019-09-11 07:01] dsibilio commented on #391
@kushagraThapar Thank you, let me know if I can help you with anything.

[2019-09-11 07:52] kushagraThapar commented on #391
@dsibilio CI is running successfully on external PRs now. I will take a look at the PR tomorrow.

[2019-09-24 11:23] amanganiello90 opened #428 "Spring data cosmos 2.1.7 does not autogenerate Id from repository class field with @Id during save api in CosmosClient"
Hi,
updating from 2.1.2 to 2.1.7 version, the repository class with Id field annotation, that now uses **CosmosClient** class,  does not autogenerate id more, but in the creation requires to specify an id value.
I investigated, and I noticed that spring data save method uses CosmosClient with createItem method. It calls the CosmosContainer (that has this method), using the async createDocument wit

[2019-09-24 17:37] alain-marcel opened #429 "ObjectMapper is not always take into account"
Hi

Used versions : com.microsoft.azure:spring-data-cosmosdb:2.1.7 and 3.0.0.M1)

If we declare an ObjectMapper, then it is not used in following case :
File: com.microsoft.azure.spring.data.cosmosdb.core.DocumentDbTemplate
Method: find(@NonNull DocumentQuery query, @NonNull Class<T> domainClass, String collectionName)
Line 279 : .map(cosmosItemProperties -> cosmosItemProperties.toObject(domainCla

[2019-09-25 03:51] kushagraThapar commented on #428
@amanganiello90 , Cosmos DB SDK doesn't support automatic id generation in v3 APIs. So you have to provide the Id manually going forward.

[2019-09-25 04:10] kushagraThapar commented on #429
@alain-marcel Thank you for noticing and providing the solution. I have integrated this fix in the PR: https://github.com/microsoft/spring-data-cosmosdb/pull/430

This will get released with 2.1.8 sometime next week.

[2019-09-25 04:10] #429 closed

[2019-09-25 04:13] kushagraThapar commented on #418
@apescione Good move, regarding BulkExecutor, as far as I know, there is one in .Net, but not in java. We are building BulkExecutor for Azure Cosmos V3, or probably V4. It will take some time, might be available in early - mid November.

I will close this issue now.

[2019-09-25 04:13] #418 closed

[2019-09-25 04:16] kushagraThapar commented on #380
@kxmas , merged the PR, closing this issue.

[2019-09-25 04:16] #380 closed

[2019-09-25 09:11] amanganiello90 commented on #428
Yes, but the AsyncDocumentClient has the option in order to allow it, so I open an issue to the related repository understanding the reason that **CosmosClient** has this disabled. Thanks

[2019-09-25 17:50] alain-marcel opened #431 "How to declare @id as java.util.UUID (instead of only String or Int)"
Currently, we can only use String, Integer or int types as a @id.
Would it be possible to add java.util.UUID ?
This type is natively support in many databases.
It would be great in the domain entity class to use a java.util.UUID instead of String.
I currently use a home made library to access cosmosdb/documentdb, that manage id as UUID.
I want to migrate to spring data comsosdb library, and this i

[2019-09-25 19:35] #391 closed

[2019-09-26 16:40] #378 closed

[2019-09-26 16:43] kushagraThapar commented on #378
The feature PR has been merged and will be released in 2.1.8, and any future versions. Closing this issue.

[2019-09-26 16:44] kushagraThapar commented on #372
The featured PR for this issue has been merged in. Will be released in 2.1.8

[2019-09-26 16:44] #372 closed

[2019-09-26 20:14] kushagraThapar opened #432 "Expose Cosmos DB SDK Diagnostic String"
Expose Cosmos DB SDK client side request diagnostic string, and query metrics through spring-data-cosmosdb SDK.

[2019-10-06 21:22] kushagraThapar commented on #428
@amanganiello90 , The reason `CosmosClient` has this disabled is because the Cosmos Database backend doesn't support it now (it used to support earlier) and that's why `AsyncDocumentClient` still has the parameter, but CosmosClient passes it as true by default (to disable the automatic id generation).
Cosmos DB Java SDKs v1 has been deprecated, and we spring-data-cosmosdb has moved to v3 completel

[2019-10-10 09:58] thiner opened #439 "How to set proxy?"
I am working behind company firewall, I've setup proxy in SpringBoot. However, I got below error while starting up the spring boot application. I couldn't find a way to set proxy for **`spring-data-cosmosdb`**, could you please tell how to do that?
[code]

[2019-10-11 10:45] thiner opened #440 "Wrong Date Pattern Used"
**Version**: 2.1.7

I found that you're using pattern `yyyy-MM-dd'T'HH:mm:s:SSSXXX` in class `Constants`. This is not a standard date format pattern for ISO-8601. Could it be a mistake? The standard one should be `yyyy-MM-dd'T'HH:mm:ss.SSSXXX`, please pay attention to the period sign after "ss".
Since you're using non-standard pattern, I tried to correct it in my project by add a new deserializer

[2019-10-11 16:33] kushagraThapar commented on #440
@thiner The issue for custom object mapper has been fixed in master branch, and will be released as part of 2.1.8.
We plan to release it sometime next week. I will update this once it gets released.

[2019-10-12 07:37] thiner commented on #440
Great! 👍

[2019-10-12 15:41] kushagraThapar commented on #440
Moreover, if you want to test it, you can test against 2.1.8-SNAPSHOT version.

[2019-10-14 02:30] thiner commented on #440
I found that the date formatter pattern is still "non-standard" value.
`public static final String ISO_8601_COMPATIBLE_DATE_PATTERN = "yyyy-MM-dd'T'HH:mm:s:SSSXXX";`
I think the standard value should be `yyyy-MM-dd'T'HH:mm:ss.SSSXXX`.

[2019-10-14 05:44] kushagraThapar commented on #440
Yes, makes sense. I will update it. Thanks.

[2019-10-16 06:40] kushagraThapar commented on #439
@thiner Does this error happens because of the proxy ?
How are you setting up the proxy ?

[2019-10-16 06:42] kushagraThapar commented on #384
We recommend using new version of spring-data-cosmosdb.

2.1.8 will be out in next couple of days.
2.2.0 is planned to be released next week.

If you want to try out something right now, please try out 2.2.0.M1: https://mvnrepository.com/artifact/com.microsoft.azure/spring-data-cosmosdb/2.2.0.M1

[2019-10-17 06:09] thiner commented on #439
I found that it's caused by my company proxy. Thanks.

[2019-10-17 06:15] thiner opened #441 "Does this project support querydsl?"
queryDSL is very important for complex query. Do you have any plan to support?

[2019-10-17 06:30] #439 closed

[2019-10-19 20:42] kushagraThapar commented on #440
This has been released as part of v2.1.8, closing this issue.

[2019-10-19 20:42] #440 closed

[2019-10-19 22:28] kushagraThapar commented on #423
@marcokleijer This is a bug on Cosmos SDK side. I have tried to fix it here: https://github.com/Azure/azure-sdk-for-java/pull/5951

If the PR gets in, this should be fixed in 2.2.0

[2019-10-21 14:37] #432 closed

[2019-10-21 14:39] kushagraThapar commented on #409
We have fixed this in our current release cycle. New version v2.2.0 will be out in a couple of days.

[2019-10-21 14:39] #409 closed

[2019-10-21 18:19] ashishc commented on #389
When is this feature coming?

[2019-10-21 18:25] ashishc opened #446 "Feature request to add change feed on spring data JPA using infinite spring 5 webflux."
It would be awesome if you guys can add feature methods that provide you with web flux that supports events like on update, on Insert and on delete for table/collection.

[2019-10-22 00:39] kushagraThapar commented on #373
Cross partition query is supported now in v2.1.8

[2019-10-22 05:48] kushagraThapar commented on #423
This has been released in spring-data-cosmosdb v2.2.0

[2019-10-22 05:48] #423 closed

[2019-10-23 06:31] rsahani opened #450 "2.2.0 release not available in maven repository"
Hi Team,
I see that we have a release version for 2.2.0. Can we get an ETA on when do we expect this to be pushed to mvn central repository(https://mvnrepository.com/artifact/com.microsoft.azure/spring-data-cosmosdb).

[2019-10-23 15:16] kushagraThapar commented on #450
@rsahani not sure why the maven hasn't updated it, but I can see the new version here:
https://repo1.maven.org/maven2/com/microsoft/azure/spring-data-cosmosdb/2.2.0/

[2019-10-25 13:20] apescione opened #451 "The FindById and findByIdAndPartitionKey implementation don't comply with javadoc"
Version: 2.1.8

Both APIs FindById and findByIdAndPartitionKey should return Optional#empty() when a Entity hasn't been found, instead, a DocumentDBAccessException is thrown.

Below the documentation for findByIdAndPartitionKey  in com.microsoft.azure.spring.data.cosmosdb.repository.DocumentDbRepository<T, ID>

[code]

This behavior will force to catch always the exception when an entity is not fo

[2019-10-25 15:34] kushagraThapar commented on #451
Verified at our end, findById API is behaving correctly, but findById which takes partitionKey as well has this bug. Will fix it soon.

[2019-10-31 17:19] edusevdev commented on #428
Hi all,
After test a app which were using the version 2.1.6 of **azure-cosmosdb-spring-boot-starter**, i had to migrate to version 2.1.7 because with previous version it didnt work findById, showing the following error:

`PartitionKey value must be supplied for this operation.`

To solve this we just to update to version 2.1.7 but this version not support the automatically id generation, so I foun

[2019-10-31 18:58] kushagraThapar commented on #450
@rsahani I see it here: https://mvnrepository.com/artifact/com.microsoft.azure/spring-data-cosmosdb/2.2.0
Closing this issue now.

[2019-10-31 18:58] #450 closed

[2019-10-31 19:00] kushagraThapar commented on #363
@Incarnation-p-lee Seems like the work for this issue is now completed. Can we close it ?

[2019-10-31 19:27] blackbaud-alanacable commented on #363
yes, we can close the issue.  thank you.

[2019-10-31 19:27] #363 closed

[2019-11-02 13:24] vigneshklncit commented on #373
Sure. Thanks.Will check

[2019-11-04 17:28] kushagraThapar opened #452 "Pagination returns incorrect result for getTotalPages() and hasNext() APIs"
When using APIs with pagination, cosmosdb can return less number of documents than suggested pageSize.
This leads to incorrect calculation of `page.getTotalPages()` and `page.hasNext()`

Fix: We need to implement PageImpl<> interface and calculate the `offset`, `pageSize` and `totalPages` manually for every iteration.

[2019-11-05 12:52] vbijjam1 commented on #439
i'm also facing same issue... Did anyone has answer to the above issue?

[2019-11-07 15:20] prasadanair opened #454 "Config flag to enable/disable autocreate Containers(Cosmos SQL API) if not exists"
We are currently using 2.1.7 and have plans to move to 2.1.8(short-term) and 2.2.x(long-term). We are looking for an ability to disable "Auto-create Containers" behaviour of Spring data for CosmosDB, so that clients that are created using resource tokens(instead of master keys) does not fail.

It will be great if this feature is available as part of 2.1.x as well as 2.2.x.

[2019-11-07 17:53] #452 closed

[2019-11-18 14:05] Akash08091992 opened #456 "spring-data-cosmosdb - Stored procedure, trigger support"
Does spring-data-cosmosdb library supports javascript azure portal Stored Procs, triggers or userdefined functions ?

[2019-11-29 04:18] nagufriendly opened #457 "IN parameter is not supported ?"
Is the findAllBy a list supported ?
Ex: List<Employee> findAllByNameIn(List<String> names)

[2019-12-04 23:11] dmendez1 opened #458 "Spring data stopping after copying data to CosmosDB"
Here is the output where it stop after running mvn clean spring-boot:run . Found this code from a Microsoft tutorial, could it be I'm not using a wrapper? I tried using mvnw but the command would not work.
<img width="1257" alt="wtf" src="https://user-images.githubusercontent.com/31740608/70189495-14af1200-16b9-11ea-879a-d3fb31e64880.png">

2019-12-04 16:50:29.136 ERROR 15728 --- [ctor-http-nio-2]

[2019-12-11 16:23] mnolan98-tmk opened #459 "Can session tokens be used for access control instead of keys"
I am attempting to limit the use of master/secondary keys in the application, or possibly even control tighter controls when using them.  One way to do this is to use session tokens with the query requests.  Is there a way to do this with Spring Data for Cosmos DB?

[2019-12-13 12:28] mohanajuhi166 opened #460 "Composite Partition Key"
Currently ,I have a document structure which requires a composite Partition key of the following structure
`tableName:"",
DatabaseName:"",
Platform:"",
Databasetype:""`
I tried creating an entity and setting that to a Partition key but it didn't work.

Is there a provision for a composite partition key ?

2) Do we need to explicitly close the cosmosdb connection if we are using Spring-data-cosmosd

[2019-12-16 13:52] linux-code commented on #389
Hi ,
Could you please let me know , when this feature is supposed to be release?
Thanks.

[2019-12-16 16:52] kushagraThapar commented on #389
Hello @linux-code This feature is planned to release sometime around February.
Regarding executing custom queries, you can get the `cosmosClient` bean from application context and execute custom queries.
Here is an example to execute custom queries: https://github.com/microsoft/spring-data-cosmosdb/blob/840072ed130ba5cbf77c4f277883c148bdeaef2b/src/test/java/com/microsoft/azure/spring/data/cosmosdb

[2019-12-20 19:51] kushagraThapar commented on #428
@amanganiello90 We can close this issue now, as Cosmos DB SDK is not supporting the autogenerate ID  because of following reason: https://github.com/Azure/azure-sdk-for-java/issues/5512#issuecomment-552797267

If in future, we do support it, it will be released in spring-data-cosmosdb.

[2019-12-20 19:51] #428 closed

[2019-12-20 19:53] kushagraThapar commented on #458
@dmendez1 Can you share the code sample you are using.
Also, if you run the application in debug mode, you should get more detailed logs. Right now the logs are only showing reactor netty connection pool provider issue. Please share more logs so we can debug.

[2019-12-20 19:56] kushagraThapar commented on #441
Yes, we plan to support it soon. Actual timeline for the release may happen around February.
Until then, a workaround for executing complex queries can be found in the test examples:

https://github.com/microsoft/spring-data-cosmosdb/blob/master/src/test/java/com/microsoft/azure/spring/data/cosmosdb/repository/integration/PageableAddressRepositoryIT.java#L158

[2019-12-20 19:56] #441 closed

[2019-12-21 21:24] kushagraThapar commented on #454
@prasadanair , I am implementing this feature in 2.1.8 right now, and just wanted to give you a heads up on my implementation.

I am thinking to include a Boolean field in the @Document annotation which gets specified on an entity class. So that for any entity, you can decide if you want to auto create the collections or not.

Other way would be to put a Boolean flag in the properties file, but th

[2019-12-22 15:46] prasadanair commented on #454
Kushagra,
Looks good to me.

Thanks
Prasad

On Sat, Dec 21, 2019, 3:24 PM Kushagra Thapar <notifications@github.com>
wrote:

[2019-12-23 17:41] kushagraThapar commented on #456
@Akash08091992 It does not support right now. To use that, please use Cosmos DB Java SDK here: https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/cosmos

[2019-12-23 17:41] #456 closed

[2019-12-23 17:43] kushagraThapar commented on #460
@mohanajuhi166 : composite partition key is not supported by Cosmos DB.

Regarding closing cosmosdb connection, you do not need to explicitly close cosmos db connection. Make sure to close cosmosdb client when you are done with your application.

CosmosDB connections are auto closed if any of them are idle for a particular time period (depends on Connection mode).

[2019-12-26 22:52] kushagraThapar commented on #451
This has been fixed and released in v2.1.9.

Will be fixed and released in v2.2.1.M2 in few days. .

[2019-12-26 22:54] kushagraThapar commented on #454
@prasadanair This has been released in v2.1.9

Will also be released as part of v2.2.1.M2 / v2.2.1 in next few days.

[2019-12-26 22:56] kushagraThapar commented on #457
@nagufriendly `IN` parameter should be supported. Here is one example: https://github.com/microsoft/spring-data-cosmosdb/blob/master/src/test/java/com/microsoft/azure/spring/data/cosmosdb/repository/integration/ProjectRepositoryIT.java#L362

[2020-01-02 16:39] david-lpg commented on #362
When testing my program today I found the same problem... 8 months later. Could someone take a look on this? Thanks.

[2020-01-02 16:55] kushagraThapar commented on #362
@david-lpg @jamesggraf I will take care of this in next release, sorry this got delayed.

[2020-01-02 18:09] kushagraThapar commented on #451
This has been fixed in v2.2.1 as well. Closing this issue now.

[2020-01-02 18:09] #451 closed

[2020-01-02 18:10] kushagraThapar commented on #454
This has been released in v2.2.1, closing this issue now.

[2020-01-02 18:10] #454 closed

[2020-01-03 23:05] jyotsnaravikumar commented on #174
@sophiaso : I have this sample working , i would like to do a PR on this docs. Please let me know which docs

[2020-01-03 23:06] jyotsnaravikumar commented on #173
@sophiaso : I have this sample working, please let me know which docs to do PR on

[2020-01-06 01:41] sophiaso commented on #174
@kushagraThapar Could you help?

[2020-01-06 07:20] kushagraThapar commented on #174
@sophiaso sure, I can help :)
@jyotsnaravikumar how big is the sample ? Is it a project ?

[2020-01-06 11:58] linux-code opened #471 "findAll with partition key"
Is there any plan to have findAll method with partition key if someone wants to get all records within specific partition?

Thanks.

[2020-01-06 17:04] jyotsnaravikumar commented on #174
It is part of our project.
This is the working and tested sample

  public List<Movie> getAllMovies(Optional<String> query, Integer pageNo, Integer pageSize, Sort sort) {
        final Pageable pageable = new DocumentDbPageRequest(pageNo, pageSize, null, sort);
        List<Movie> content = null;
        Page<Movie> page = null;
        if (query.isPresent() && !StringUtils.isEmpty(query.get())) {

[2020-01-06 18:14] kushagraThapar commented on #174
@jyotsnaravikumar Thanks for the example, but this example uses the older version of spring-data-cosmosdb - v2.1.x
We have now moved to v2.2.x
`DocumentDbPageRequest` has been deprecated.
On the readme file, there is a small paging example. If you want, you can update that with a more generic paging and sorting example, something like above.
Please assign that PR to me and I will review it.

[2020-01-21 19:32] ArikRiz opened #477 "AAD support"
I was wondering if/when Azure Active Directory will be usable with this library, as currently there does not appear to be any support for it.

[2020-01-22 08:28] rmeyer20 opened #478 "Unknown protocol: MongoDB"
[UPDATE] I have now tried simply adding my Azure properties to your sample application and am still getting the error. As such, is this project completely broken in its current state? Can someone else try it and confirm?

[ORIGINAL] I have followed the example code closely. Unfortunately when I run my Spring Boot application I get the following error:

[code]

I've delved into it a bit and it seem

[2020-01-22 10:45] rmeyer20 commented on #478
Ok, this issue has been resolved. Although this isn't made clear since all the other documentation points you to using the connection string, there's a separate URI listed under Azure (beginning https://). When I replaced it with that, it now gets passed that stage and fails with Caused by: com.azure.data.cosmos.CosmosClientException: Sql api is not supported for this database account. I will ther

[2020-01-22 10:45] #478 closed

[2020-02-05 13:22] linux-code commented on #471
Hi,
Can someone update this?

[2020-02-05 16:35] kushagraThapar commented on #471
@linux-code Hey Ghulam, I am trying to get answer for this one, and in fact for all the questions you have asked in the mail. Sorry for the delay in response. I will provide an update soon.

[2020-02-05 18:56] kushagraThapar commented on #471
@linux-code I checked and it looks like this can be done in the next release, whenever that happens.
Currently the schedule for next release looks around end of March.
Meanwhile, I am also working on getting answers to your other questions.

[2020-02-06 06:01] josuemb opened #483 "Error trying to use behind an authenticated proxy server"
When I try to use it behind a proxy server I get an error (trace below).

I am configuring proxy with:

`cosmosDBConfig.getConnectionPolicy().proxy("127.0.0.1", 808);`

However I am not able to find any way to configure proxy usr/pwd even when netty support this scenario.

[code]

[2020-02-06 14:32] linux-code commented on #471
Sounds good. Thanks a lot.

[2020-02-06 16:01] kushagraThapar commented on #483
@josuemb which spring-data-comosdb version are you using ?

[2020-02-07 12:44] lucprosa opened #484 "Using requestContinuation to make pagination"
Hi,
I'm using spring-data-cosmosdb 2.2.2 with azure-cosmos 3.6.0 and Scala.

I'm using CosmosTemplate to create custom DocumentQueries using sorting and pagination.

My problem is to navigate through the pages in my request using requestContinuation. Every request (POST) is returning a requestContinuation like that:

`    "requestContinuation": "{\"compositeToken\":\"{\\\"token\\\":null,\\\"range\

[2020-02-07 14:34] josuemb commented on #483
Ver 2.2-.1

[2020-02-07 18:49] kushagraThapar commented on #484
@lucprosa
Did you try the recommended way of pagination provided in the readme section of spring-data-cosmosdb: https://github.com/microsoft/spring-data-cosmosdb/blob/master/README.md Section: Supports Spring Data pageable and sort.

Also documented here: https://docs.microsoft.com/en-us/azure/java/spring-framework/how-to-guides-spring-data-cosmosdb#pagination-and-sorting

[2020-02-07 19:33] lucprosa commented on #484
@kushagraThapar
Yes, I saw that I was using a "Pageable" object to control de pagination and not the "CosmosPageRequest" that uses requestContinuation token and is recommended  by documentation. Thanks for your response.

But I already changed my code here and it still give me a error when I try to pass a requestContinuation to get the next page of request.

Now I getting a "INVALID JSON" error:
"

[2020-02-07 20:11] kushagraThapar commented on #484
@lucprosa can you please provide updated code snippet ?
How are you getting the continuation token and using it for next pageable ?
If you are getting it from response, you should not get invalid json .

[2020-02-07 20:26] kushagraThapar commented on #483
Did you try using `ConnectionMode.Gateway` while creating connection policy ?

[2020-02-07 21:27] lucprosa commented on #484
Sure, follow my code below.

But I guess I found the gap here. It was the encoding of the parameter.

Controller:

[code]

Service:
[code]

Repository:
[code]

When I send a request I received a pageable information like this:

[code]

[2020-02-07 21:31] lucprosa commented on #484
Sure.

Controller:

[code]

Service:
[code]

Repository:
[code]

When I send a request I received a pageable information like this:

[code]

I guess I found the problem here.
It's all about encoding the parameter before send to request.

[code]

I don't get the JSON error now.

I'll still make some tests with pagination here but I think this issue can be closed by now.

Thanks

[2020-02-07 21:45] kushagraThapar commented on #484
@lucprosa Thanks for providing the code, it looks good now. Glad it got resolved, please feel free to close the issue.

[2020-02-10 13:51] lucprosa commented on #484
Sure. Thanks @kushagraThapar

[2020-02-10 13:51] #484 closed

[2020-02-10 16:07] josuemb commented on #483
It works, it just limited since you need to capture user/password in each execution.
Do you know any other option.
We have an environment when at development time all user should access by proxy.

[2020-02-10 20:12] nsaftarli commented on #410
Did you get to the bottom of why this works? I'm having the same problem, except I'm subclassing `CrudRepository` directly. I've overridden other methods (e.g. `save`, `findAll`), but only `saveAll` is causing this problem for me. Your fix works, but I'm not sure why.

[2020-02-12 18:34] lucprosa opened #488 "Pagination not sorted with strange behaviour: token is null"
Hi,
I'm using spring-data-cosmosdb 2.2.2 with azure-cosmos 3.6.0 and Scala.
I'm using CosmosTemplate to create custom DocumentQueries with pagination.

Now I'm facing with this strange error when doing pagination.

My POST request returned 5839 items within 6 pages (pagesize=1000).

For each request I'm getting the requestContinuation to use in the next page.

[code]

My output shows each request

[2020-02-12 21:46] kushagraThapar commented on #488
@lucprosa There are multiple things to clarify here:

1. To correctly paginate, please follow this example: https://docs.microsoft.com/en-us/azure/java/spring-framework/how-to-guides-spring-data-cosmosdb#pagination-and-sorting
2. Regarding page size -> cosmosdb backend can return any number of docs between 0 and page size you request for based on the total size of the payload. There is a hard limi

[2020-02-12 22:12] lucprosa commented on #488
@kushagraThapar I changed my code to use sorting and this behaviour has gone.

Now I'm just setting a default order by using the Cosmos ID column.

I wasn't using sorting before because I was concerned about performance issues.

Now I can get the right number of total items and the tokens are not empty.

[code]

[code]

[2020-02-12 22:12] #488 closed

[2020-02-13 04:45] nsrags opened #490 "SpringBoot Actuator for Azure CosmosDB"
This is feature suggestion that can be incorporated as part of Spring Boot starter for CosmosDB.This will help us in healthchecking the CosmosDB and follow a similar approach for Boot Actuator.This would help in providing health stats from Spring Boot application standpoint for all its integrations (when CosmosDB is one among them)

[2020-02-13 10:07] tilatbb commented on #403
Hi,
I need help about this problem.

I using 2 cosmos database in same project , with different configuration file  :
File 1 :
@Configuration
@EnableCosmosRepositories( basePackageClasses= AnnouncementRepository.class)
public class AnnouncementsDbConfig extends AbstractCosmosConfiguration {

    @Bean(name="AnnouncementsCosmosDb")
    public CosmosDBConfig getAnnouncementsCosmosDb(
            @Va

[2020-02-14 15:42] amanganiello90 opened #491 "Return entity collection saved by repository instead of input entity"
Hi,
I noticed that the save api of the [SimpleDocumentDbRepository](https://github.com/microsoft/spring-data-cosmosdb/blob/75d5576d4b923aef1611e0b9fa656dde43b0c35e/src/main/java/com/microsoft/azure/spring/data/cosmosdb/repository/support/SimpleDocumentDbRepository.java#L85) return the input entity instead of saved entity.
My purpose is to have the updated (or the new) entity with all database fiel

[2020-02-14 16:56] kushagraThapar commented on #491
Thanks @amanganiello90 for opening this bug, I checked and confirmed this issue.

I will fix it soon.
Which version are you using ?

[2020-02-14 17:20] amanganiello90 commented on #491
I linked the class of the 2.1.9 version.

[2020-02-14 19:38] kushagraThapar commented on #491
Thanks, closed this by mistake, reopened it.
I will fix it. Can't promise the timeline, but will try to do it soon.

[2020-02-17 17:53] jmax01 opened #492 "Standardize on either `collection` or `container`"
Standardize on either `collection` or `container`.

Example: currently both `collectionName` or `containerName` are used throughout the API
for the values that are used by methods that return either [CosmosContainers](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/CosmosContainer.java) or [CosmosSyncContainers](https://

[2020-02-17 18:12] jmax01 opened #493 "Standardize on either `domainClass` or `entityClass`"
Standardize on either `domainClass` or `entityClass`.

Example: https://github.com/microsoft/spring-data-cosmosdb/blob/d028e00ab92cc18da1f9ecb610a071c427f1c080/src/main/java/com/microsoft/azure/spring/data/cosmosdb/core/CosmosOperations.java#L55-L57

I would suggest that `domainType` actually would be the best term as this is the terminology that appears to be used in the `org.springframework.data

[2020-02-18 16:42] kushagraThapar commented on #493
Thanks for the suggestion @jmax01 We will update those parameter names.

[2020-02-18 16:45] kushagraThapar commented on #492
Thanks for the suggestion @jmax01 We will standardize them to container throughout the SDK where breaking changes are not required.
Regarding breaking changes, we can deprecate old APIs, and add new ones.

[2020-02-20 10:42] kjagade7 opened #494 "findTop"

[2020-02-20 10:42] #494 closed

[2020-02-24 12:01] cofstea opened #495 "How can i keep multiple connections using different Database Name?"
In my project, on the same URI link,i have multiple cosmosDB names, and i need to create separate CosmosDBconfig for each, extended from AbstractCosmosConfiguration , and override the cosomosTemplate() method, for having an unique bean with specific database name. Problem is that the all executions are using only the Primary CosmosOperations bean and con not reach the others.

As an example:
**Pri

[2020-02-25 12:33] QiAnXinCodeSafe opened #499 "Unused variable"
https://github.com/microsoft/spring-data-cosmosdb/blob/54a45fd5d7584009c567c3d8ad83f254b73464fb/src/test/java/com/microsoft/azure/spring/data/cosmosdb/performance/service/SdkService.java#L66

Unused variable

[2020-02-25 22:57] kushagraThapar commented on #471
@linux-code  Hey Ghulam, can you please verify if the linked PR fulfills your request ?

[2020-02-26 01:02] kushagraThapar commented on #491
@amanganiello90 let me know if the above fixes look good to you. I plan to release them tonight.

[2020-02-26 02:49] kushagraThapar commented on #491
spring-data-cosmosdb v2.1.10 and v2.2.3 has been released with this fix

[2020-02-26 02:49] #491 closed

[2020-02-26 02:54] kushagraThapar commented on #471
This has been released in spring-data-cosmosdb v2.2.3

[2020-02-26 02:54] #471 closed

[2020-02-26 02:55] kushagraThapar commented on #492
This has been released in spring-data-cosmosdb v2.2.3

[2020-02-26 02:55] #492 closed

[2020-02-26 02:55] kushagraThapar commented on #493
This is released in spring-data-cosmosdb v2.2.3

[2020-02-26 02:55] #493 closed

[2020-02-26 06:56] sivawipro opened #507 "Documentdb.DocumentClientException"
We have facing the issue frequently in our Application . I have mention the version here , Can you please sort it out how to fix this ?

<groupId>com.microsoft.azure</groupId>
			<artifactId>spring-data-cosmosdb</artifactId>
			<version>2.1.0</version>

[2020-02-26 06:58] sivawipro commented on #507
here is the entire logs.

java.lang.IllegalStateException:
   at com.microsoft.azure.documentdb.internal.query.DefaultQueryExecutionContext.next (DefaultQueryExecutionContext.java86)
   at com.microsoft.azure.documentdb.internal.query.DefaultQueryExecutionContext.next (DefaultQueryExecutionContext.java33)
   at com.microsoft.azure.documentdb.internal.query.ProxyQueryExecutionContext.<init> (ProxyQ

[2020-02-26 07:36] linux-code commented on #471
@kushagraThapar Gone through the PR , looks good to me.

[2020-02-26 09:05] amanganiello90 commented on #491
Thanks, I will try it.

[2020-03-03 10:54] sivawipro opened #508 "ISSUE - spring-data-cosmosdb - 2.2.2 version - @Id value is not autogenerated"
Currently I am using Spring data cosmosdb 2.1.0 version with Spring boot 2.1.7.RELEASE.
[code]
@Id field was autogenerated.

I would like to upgrade Spring data cosmosdb client:

[code]

The issue i am facing is with @Id field, it's not autogenerating. It's saving as null in CosmosDB.

Can you please suggest why @Id field is not autogenerating. It's explicitly expecting me set value.

Kindly help.

[2020-03-04 12:09] jhauray commented on #319
+1!

[2020-03-04 19:10] kushagraThapar commented on #508
@sivawipro  - `@id` is not autogenerated any more and is not supported by Cosmos DB SDK.

Auto generate ID feature was removed in Cosmos DB SDK v3. You will need to generate id on your own.

[2020-03-10 16:01] anfeldma-ms commented on #389
I am a collaborator with Kushagra on this. I just wanted to update that Query Annotation feature is WIP and we currently expect ETA of late May 2020.

[2020-03-10 16:06] anfeldma-ms opened #511 "[BUG] Full content scan in Cosmos DB from Spring"
Posting on behalf of a customer. Unsure if the root cause is in Spring Data or Spring Boot.

**Customer Scenario**
The current customer Platform is being developed while leveraging SpringBoot as the Java platform layer. The current SpringBoot implementation causes a full scan and doesn't index properly.

**Customer Impact**
Additional context/code to manage. Our previous experience is with other t

[2020-03-11 16:52] kushagraThapar commented on #508
Closing this issue now.

[2020-03-11 16:52] #508 closed

[2020-03-11 16:54] kushagraThapar opened #512 "Remove Container throughput default value from SDK"
Currently, SDK creates containers automatically, with default value of throughput (RUs) = 4000.
This does not aligns with default value of backend service.
Remove this default value completely, and let backend decide on the default value when creating containers.

This can only be done on next major release.

[2020-03-13 05:34] Jerify02 commented on #460
Hi @kushagraThapar , the cosmos doc has a chapter about synthetic-partition-keys, https://docs.microsoft.com/en-us/azure/cosmos-db/synthetic-partition-keys
but I can't find how to create a synthetic partition key.

[2020-03-23 14:24] jaydeepfifadra opened #516 "time to live"

[2020-03-23 23:04] atulpratul commented on #407
Hi,
Do we have any update on this?

[2020-03-23 23:08] kushagraThapar commented on #407
@atulpratul  - yes, bulk operations are currently in development and planned to get delivered around May end. Once they are production ready in cosmos SDK, they will be exposed through spring-data-cosmsodb.

[2020-03-30 17:58] kushagraThapar opened #520 "Support multi-database configuration through Spring Application"
* Currently spring-data-cosmosdb only supports single database as part of the application.
* It should be able to support multiple database connections through a single application.
* Similar ask: https://github.com/microsoft/spring-data-cosmosdb/issues/495

[2020-03-30 18:01] kushagraThapar commented on #495
@cofstea We have a backlog item for this that you can track. I have referenced your issue here: https://github.com/microsoft/spring-data-cosmosdb/issues/520

[2020-04-02 20:36] ViswanathVeerappan opened #522 "Time to live on container"
Hi Team,
We are using spring data cosmos db for one of the applications in our company. The problem we are noticing is with the annotation @Document with default values. Having the default values enables the application to create the container if it does not exist with ru set to 4000 and collection name as the model object name except the time to live property on the container. This is by default

[2020-04-02 20:37] ViswanathVeerappan opened #523 "Time to live property on container"
Hi Team,
We are using spring data cosmos db for one of the applications in our company. The problem we are noticing is with the annotation @Document with default values. Having the default values enables the application to create the container if it does not exist with ru set to 4000 and collection name as the model object name except the time to live property on the container. This is by default

[2020-04-02 21:10] kushagraThapar commented on #523
@ViswanathVeerappan - Yes, that is expected behavior. `-1` value of default time to live indicates that items within that container will never expire. If you want to change the value, you can do that through annotation itself. Also, if you want to change any of the values, you can do that through `@Document` annotation.
Here is some documentation on default time to live values : https://azuresdkdo

[2020-04-02 21:22] ViswanathVeerappan commented on #523
Thanks for your response! [https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-time-to-live#java3-enable-noexpiry], as per the documentation mentioned there highlighted by these points
- When DefaultTimeToLive is null then your Time to Live is Off
- When DefaultTimeToLive is -1 then your Time to Live setting is On (No default)
- When DefaultTimeToLive has any other Int value (except 0) your Ti

[2020-04-02 21:25] ViswanathVeerappan commented on #522
Duplicate issue. Its being tracked here https://github.com/microsoft/spring-data-cosmosdb/issues/523

[2020-04-02 21:25] #522 closed

[2020-04-02 23:39] kushagraThapar commented on #523
@ViswanathVeerappan  - So your ask is to enable time to live on items and use default value on the container level ?
As far as I know, v3 Cosmos SDK (on which spring-data-cosmosdb SDK is based) doesn't support setting time to live values for individual items. It only supports setting it on container.
Let me search for a workaround if exists any.

[2020-04-03 00:18] ViswanathVeerappan commented on #523
Thanks for your response! Following are the cases we tried,

1) We tried to set the time to live property present in the @Document annotation to a value greater than zero. The other properties had default values set for them. It created the container with the default values enabled(for ru, collection name and auto created it when it was not present) except the ttl on the container. In order for th

[2020-04-03 20:40] kushagraThapar commented on #523
@ViswanathVeerappan  - Here is the PR for the above bug fix: https://github.com/microsoft/spring-data-cosmosdb/pull/524

[2020-04-03 21:21] kushagraThapar commented on #523
@ViswanathVeerappan - Would release v2.2.3.FIX2 work for you ?

[2020-04-03 21:25] ViswanathVeerappan commented on #523
@kushagraThapar - is new patch version possible?

[2020-04-03 21:27] kushagraThapar commented on #523
@ViswanathVeerappan  - do you mean v2.2.4 ?
Its just naming, so I don't mind either of them.

[2020-04-03 21:29] ViswanathVeerappan commented on #523
@kushagraThapar - yeah 2.2.4. would prefer this.

[2020-04-03 21:31] kushagraThapar commented on #523
@ViswanathVeerappan - Sounds good, I will release this in next couple of days and will close this issue. Will update you over here.

[2020-04-03 21:33] ViswanathVeerappan commented on #523
@kushagraThapar - Thanks for the quick response! Really appreciate your help.

[2020-04-03 21:54] kushagraThapar commented on #516
Possible duplicate of this: https://github.com/microsoft/spring-data-cosmosdb/issues/523

[2020-04-07 05:53] kushagraThapar commented on #523
This has been fixed and released: https://github.com/microsoft/spring-data-cosmosdb/releases/tag/v2.2.4

[2020-04-07 05:53] #523 closed

[2020-04-07 05:53] kushagraThapar commented on #523
@ViswanathVeerappan  - Please upgrade and confirm the fix.

[2020-04-07 07:14] linux-code opened #527 "ACID for saveAll method"
Hi,

Is saveAll method ACID compliant if we pass list of documents with same logical partition-key value?

[2020-04-07 16:24] kushagraThapar commented on #527
No, saveAll is not ACID compliant.
Spring-data-cosmosdb doesn’t support bulk operations as of now, it only iterates over the list of documents passed to saveAll, and saves them one by one.

We are working on bulk operations for spring-data-cosmosdb. Will let you know once the functionality is present.

[2020-04-08 18:25] anfeldma-ms commented on #523
Hi @ViswanathVeerappan any update on upgrading and confirming the fix? Thanks.

[2020-04-08 18:32] ViswanathVeerappan commented on #523
@kushagraThapar @anfeldma-ms - We tested the fix made and it is able to configure the time to live property when the collection gets created. Thanks for the help!

[2020-04-08 18:33] anfeldma-ms commented on #523
@ViswanathVeerappan thanks!

[2020-04-19 20:36] linux-code opened #528 "rest query language support"
Hi,

We are having use case for search API and this search API can take list of inputs with name , operator and value. Could you please let me know if `spring-data-cosmosdb` supports rest query language?

[2020-04-20 10:54] sivawipro commented on #507
Hi , Can someone please look in to this issue and let us know , Since we are in front of Production.

Thanks

[2020-04-21 08:57] tanayamitra05 opened #529 "Reactive with Spring Data REST cosmos DB"
Is there any significant time difference for fetching data by using Flux in reactive and normal  List Collection in Java?

[2020-04-21 16:36] kushagraThapar commented on #528
I don't think it does. I have seen other customers building sql query from REST query and then calling search using the built sql query.

[2020-04-22 05:29] tanayamitra05 commented on #529
I am fetching the data like:
Flux<CentralizedManagementEntity> cmLogs = cmLogsRepository.findAll();
return cmLogs;

and the repository code:
public interface CMLogsRepository extends ReactiveCosmosRepository<CentralizedManagementEntity, String> {
    Flux<CentralizedManagementEntity> findAllById(String id);

But there is no such timing difference in this case.

[2020-04-22 19:31] kushagraThapar commented on #529
@tanayamitra05 when you run reactive code like this :
`Flux<T> cmLogs = cmLogsRepository.findAll();` it doesn't execute the find all operation at this point until you subscribe to it. So measuring timing at this point doesn't even makes sense.

Please read project reactor docs for more details on how to run reactive asynchronous code.
https://projectreactor.io/learn

[2020-04-22 21:15] thomasmillergb opened #530 "Issues using WebTestClient without enabling repository beans"
There seems to be a hole in the ability to tests a SpringFlux application at the controller level without loading up the cosmos context. Ie i just want to test my controller without connecting cosmos

As i would expect to be able to do the following with our all cosmos repo being loaded in. As all classes with the `@Repository` should be ignored.
[code]
However doing this leads to bean failures in

[2020-04-30 03:12] ipanggabean commented on #439
I'm facing this issue. My deployment environment has a proxy to catch all the trafic. With my local environment, I can connect to cosmosdb just fine.

How do I setup the the connection policy of cosmosdb package to use the proxy?

Following is the dependencies that I used
`<dependency>
     <groupId>com.microsoft.azure</groupId>
     <artifactId>azure-cosmosdb-spring-boot-starter</artifactId>

[2020-04-30 04:14] kushagraThapar commented on #439
@ipanggabean  - you need to use customized `ConnectionPolicy` object in order to use proxy, as you will need to change the connection mode from Direct TCP (which is default) to either Direct HTTPS, or gateway mode.
First test with GATEWAY connection mode and see if it works then we can optimize the connection mode to Direct HTTPS.

On how to customize this, please check customization config under

[2020-05-19 22:45] chrisgolle opened #532 "querying lists of objects"
Hello, i would like to write a query to find a nested property from a list of objects

`{id: "id", objects: [{"prop": "val1"},{{"prop": "val2"}}]}`

my query is the following:

`SELECT VALUE c FROM ROOT c join d in c.objects WHERE d.prop = @prop`

I can do this with a raw query, can i do it without?

[2020-05-19 23:02] chrisgolle opened #533 "escaping querying with IN clause"
having a method signature like the following:
`List<Object> findAllByPropIn(Collection<String> props)`
works good. However, inputs are not parameterized so an input such as `bahhhh') OR (r.id > 'a` will return all documents and use up all my RU's pretty fast. Am i responsible for escaping inputs, and if so, how are inputs escaped? It looks like other methods are susceptible to the same issue.

[2020-05-20 16:39] chaitanya-mittapalli opened #536 "Need the ability to Configure the Column Name With a Annotation Like we do in Spring Data JPA With @Column"
Need the ability to Configure the Column Name With a Annotation Like we do in Spring Data JPA With @Column

![image](https://user-images.githubusercontent.com/15993350/82472847-604e5000-9a8e-11ea-8bd2-4f04bfd5482b.png)

In the Above Entity I may Want to be the Column Name of the Field LastName to be last_name when a Document is generated in Cosmos Document DB. As of Now I do not see that ability w

[2020-05-20 19:33] chrisgolle commented on #536
it uses jackson object mapper underneath, so you can add jackson annotations to accomplish this.

[2020-05-21 13:02] chaitanya-mittapalli commented on #536
Yup that is Working Thanks a TON @chrisgolle . Closing this Issue out

[2020-05-21 13:02] #536 closed

[2020-05-21 18:49] kushagraThapar commented on #536
Thanks @chrisgolle

[2020-05-21 18:50] kushagraThapar commented on #532
Currently spring doesn't support query annotation feature, so for now the only option is to use the raw query.
Here is a doc on how you can execute these raw queries in spring-data-cosmosdb : https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/how-to-guides-spring-data-cosmosdb#custom-query-execution

[2020-05-21 18:51] kushagraThapar commented on #533
@chrisgolle can you please explain more on what you are trying to achieve with a sample may be?

[2020-05-22 00:13] chrisgolle commented on #532
ah, okay, thank you

[2020-05-22 00:13] #532 closed

[2020-05-22 00:36] chrisgolle commented on #533
im not trying to achieve anything really, more pointing out that I think the library has an issue where it is not using parameterized queries. I think users of this library expect inputs to be escaped/parameterized for them. Read more about it here. https://owasp.org/www-community/attacks/SQL_Injection

Throughout the library queries are constructed using String.format("some query %s some params %

[2020-05-29 10:18] mkaczor commented on #362
Any update on that?

[2020-06-01 14:40] mkarczewski85 opened #537 "Major bug in AbstractQueryGenerator"
Method generateBetween() of AbstractQueryGenerator class gives the same parameters names ("start", "end") for every Criteria of type BETWEEN in the query. Their names aren't unique, so when trying to execute query you get:

`com.azure.data.cosmos.CosmosClientException: Gateway Failed to Retrieve Query Plan: Message: {"Errors":["Invalid query. Specified duplicate parameter name '@start'."]}`

You c

[2020-06-01 16:41] kushagraThapar commented on #537
@mkarczewski85 - thanks for reporting this issue. We highly appreciate these fixes by developers like you from open source community. Would you care to create a PR for this fix ?
Currently master branch points to v2.3.x release train. If you are using v2.2.x or v2.1.x versions, please checkout from branch which represents these versions.

[2020-06-02 09:16] mkarczewski85 commented on #537
@kushagraThapar thank you for replying. I've just created PR.

[2020-06-02 11:21] 11shobhit commented on #484
i am facing similar issue. can some one please help on this

 "paginationToken": "{\"compositeToken\":\"{\\\"token\\\":\\\"+RID:~XGtkAKZ5mcBlBwAAAAAAAA==#RT:2#TRC:6#RTD:03v6tHWhTzQwL/nVyeVsBMHX21Px/+9L5A==#ISV:2#IEO:65551#FPC:AWAHAAAAAAAAaQcAAAAAAAA=\\\",\\\"range\\\":\\\"{\\\\\\\"min\\\\\\\":\\\\\\\"\\\\\\\",\\\\\\\"max\\\\\\\":\\\\\\\"FF\\\\\\\",\\\\\\\"isMinInclusive\\\\\\\":true,\\\\\\\"isMaxI

[2020-06-02 14:56] BingjieGao commented on #389
Using
[code]

Hi, also running into same issue with so called 'user execution query' without `@Query` annotation.
@anfeldma-ms could you help on giving out the examples how to make validate return data value with the right appropriate defined type/POJO class.

I found few examples online documentation [java example of queryItems](https://github.com/Azure-Samples/azure-cosmos-java-sql-api-samples/b

[2020-06-02 16:17] kushagraThapar commented on #484
@11shobhit - try encoding the `continuationToken` -> like done in the above resolution comment:  https://github.com/microsoft/spring-data-cosmosdb/issues/484#issuecomment-583622882

[2020-06-02 16:27] kushagraThapar commented on #389
@BingjieGao Return type of `queryItems` API is just a pagination helper class which provides you with some APIs to work through pagination. When you call the pagination API, you will get the response type as `FeedResponse` object - which has `getResults` APIs, and many other APIs to deal with results.

[code]

So in this above examples, take a look at how `iterableByPage()` API returns `cosmosItem

[2020-06-03 01:45] BingjieGao commented on #389
@kushagraThapar
Hi I'm using version 2.3.1 on springboot azure cosmos starter while for some reason I didn't see if the `queryItems` returns such type but instead I got the working bits like:
[code]

Also I was reading from official Microsoft documentation from [here](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/how-to-guides-spring-data-cosmosdb#custom-query-execution) t

[2020-06-03 05:54] kushagraThapar commented on #389
@BingjieGao my bad - what you got is right. For some reason I confused this version with V4 Java SDK .
Ignore my comments over there. what you have got looks completely good.

Once spring-data-cosmosdb moves to V4 (hopefully by the end of this month) - then the newer model will come into play (which I have described above)

[2020-06-03 13:25] apescione opened #539 "Allowing Long as Id in Entity"
I've notice that the class
https://github.com/microsoft/spring-data-cosmosdb/blob/master/src/main/java/com/microsoft/azure/spring/data/cosmosdb/repository/support/CosmosEntityInformation.java#L153

allows to have only string and Integer (plus primitive int) as Id's type. So, choosimg Long or long as Id, the Spring data throws an error IllegalArgumentException. Why not enabling also Long type being

[2020-06-04 07:19] BingjieGao opened #540 "Modify default connection policy with cosmosdb springboot starter"
Hi Microsoft Team,
I'm using azure-cosmosdb-spring-boot-starter version 2.3.1, and by default it's using
[code]
could you help how to make the connectionMode into Gateway? I could see there should be such property could be configured in application.properties file
[code]

[2020-06-04 09:06] BingjieGao commented on #540
Hi Microsoft Team,
From the source code I got for version 2.3.1 of springboot-starter it seems there is no way to switch to GATEWAY mode but always default set to be DIRECT TCP.
[code]
Is this the right behavioir?

[2020-06-04 12:11] yiliuTo commented on #523
Hi, is the timeToLive in @Document on container level or item level?

[2020-06-04 16:10] kushagraThapar commented on #523
@yiliuTo it is on container level.

[2020-06-04 18:20] chrisgolle opened #541 "delete by id errors with "not found""
i have a simple crud repo with 2 methods, findById(String id) and deleteById(String id)

findById(String id) works as expected, returning the document with the given id.
deleteById(String id) errors with a not found error, even when called with the same argument passed to findById which succeeded one line earlier

[2020-06-05 04:21] yiliuTo commented on #523
@kushagraThapar  Got it, thanks.

[2020-06-05 07:03] 11shobhit commented on #484
thanks @kushagraThapar it works

[2020-06-08 13:34] linux-code commented on #460
@Jerify02 synthetic partition key is something you have to generate at application layer-
let's say- in container, we have defined partitionKey as /partitionKey.

and you want to generate partitionKey using more than one fields value-
String pKey = field1 + "-" + field2 + "-" +.....+"-"+ fieldN (assuming- hyphen delimiter here).

set partitionKey value as pKey and then save the document or findByI

[2020-06-08 20:46] linux-code opened #542 "spring-data-cosmosdb Read/Write latency issue"
Hi,
Can someone help me to understand below issue-

 Observing [60-120] ms response time for one read call (service to cosmos-db):
Using  below client and configuration-
1. spring-data-cosmosdb (2.3.0) with sync API(@EnableCosmosRepositories)
2. Not using any cross-partition Query.
3. Connection Mode- GATEWAY
4. DEFAULT_MAX_POOL_SIZE = 100;
5. DEFAULT_IDLE_CONNECTION_TIMEOUT_IN_MILLIS = 60 * 1000;

[2020-06-17 09:09] apescione commented on #389
Which version of Spring data Cosmos will use Cosmos SDK V4? Only 2.3.x or even 2.2.x that at the moment I'm using it in my project? Just to understand if I need to plan also migration to Spring boot 2.3.x.

[2020-06-17 15:56] kushagraThapar commented on #389
We are coming up with a new version schema for spring-data-cosmosdb. Current version schema has some limitations on the versions which will be fixed in new spring-data-cosmosdb version schema.
Cosmos DB V4 support will land in this new version schema based spring-data-cosmosdb. Not in 2.2.x or 2.3.x

[2020-06-25 16:09] kushagraThapar commented on #542
@linux-code DIRECT mode is supported in spring-data-cosmosdb v2.3.0, in fact that is the default connection mode.
CosmosDB does not provide any SLAs for GATEWAY mode. Since GATEWAY is a shared resource, some calls may take a little longer because of heavy traffic.

That being said, what is the query targeting ? (id, partition key, or indexed fields ) ?
What errors are you seeing in DIRECT mode ?

[2020-06-25 16:12] kushagraThapar commented on #540
@BingjieGao  - This is a spring-boot-starter issue, can you please open the issue here : https://github.com/microsoft/azure-spring-boot

[2020-06-25 18:49] bajrangprasad01 commented on #403
I have tried to connect with 2 datasource of cosmos but not able to connect.
I have tried all the solution given but not a single thing is working.

@Configuration
@EnableCosmosRepositories(basePackages = "com.bajrang.repositories.kooprepositories")
public class KoopCosmosConfig extends AbstractCosmosConfiguration {
    @Value("${spring.koop.azure.cosmosdb.uri}")
    private String uri;
    @Value

[2020-06-25 18:52] bajrangprasad01 opened #543 "Not able to connect with 2 Cosmos DB with single application"
I have tried to connect with 2 datasource of cosmos but not able to connect.
I have tried all the solution given but not a single thing is working.

[code]
===================================

[code]
This error is comes

[code]
I have tried with this configuration but not able to connect with two data source.

Please help me I urgently need to do this but I am not able to do. I need to connect wit

[2020-06-26 18:28] kushagraThapar commented on #141
@senthilkrishnankr Are you still facing this issue ?

[2020-06-26 18:30] kushagraThapar commented on #52
@Incarnation-p-lee Since now the repo is being moved to azure-sdk-for-java, we are already doing all spot bugs and check styles checks. So this issue now can be closed.

[2020-06-26 18:30] #52 closed

[2020-06-26 18:32] kushagraThapar commented on #51
@elsesiy - I believe here is the work around for your issue if you are still facing it.

https://github.com/microsoft/spring-data-cosmosdb/issues/536

[2020-06-26 18:32] #51 closed

[2020-06-26 18:35] kushagraThapar commented on #18
Spring Boot Actuator is the feature we are targeting for next semester: https://github.com/microsoft/spring-data-cosmosdb/issues/490
Closing this duplicate issue.

[2020-06-26 18:35] #18 closed

[2020-06-26 18:36] kushagraThapar commented on #153
@Incarnation-p-lee I think this is supported now with PartitionKeyDefinition. I am closing this issue, in case you feel otherwise, please feel to re-open it and we can discuss this.

[2020-06-26 18:36] #153 closed

[2020-06-26 18:41] kushagraThapar commented on #539
@apescione these are the cosmosdb limits for item creation : https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-limits#per-item-limits
I think we should be able to support Long types as well, I am considering this feature for next semester.

[2020-06-26 18:43] kushagraThapar commented on #539
Also, as an update, this repo is now being moved to azure-sdk-for-java : https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/cosmos/azure-spring-data-cosmosdb
So going forward, all the issues should be created there.
The repo movement is not yet complete and currently in progress..
Once it is completely moved, I will post an update on this repo.

[2020-06-26 18:43] kushagraThapar commented on #541
@chrisgolle - can you please paste the complete error stack trace ?

Also, as an update, this repo is now being moved to azure-sdk-for-java : https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/cosmos/azure-spring-data-cosmosdb
So going forward, all the issues should be created there.
The repo movement is not yet complete and currently in progress..
Once it is completely moved, I will post

[2020-06-26 18:46] kushagraThapar commented on #539
Also, as a bigger ask, we are tracking this issue here as well : https://github.com/microsoft/spring-data-cosmosdb/issues/295

[2020-06-26 18:49] kushagraThapar commented on #539
@apescione  may I ask what happens when you use `@Id` annotation on `Long` type ?

[2020-06-26 18:49] kushagraThapar commented on #319
We are targeting this feature for our next semester.

[2020-06-26 18:51] kushagraThapar commented on #321
@saurabhtanwar180896 - I believe this issue should be fixed in versions 2.1.7 and above. Closing this issue.
Feel free to re-open if you still see issues.

[2020-06-26 18:51] #321 closed

[2020-06-26 18:52] kushagraThapar commented on #320
@ap1256 - Are you still seeing this issue ?
Did you try upgrading to the latest released version ?

[2020-06-26 18:53] kushagraThapar commented on #326
@usernameistom - Closing this issue as this is being tracked in `@Query` annotation feature.

[2020-06-26 18:53] #326 closed

[2020-06-26 18:53] #328 closed

[2020-06-26 18:54] #347 closed

[2020-06-26 18:55] #349 closed

[2020-06-26 18:55] kushagraThapar commented on #349
@anshul-dhyani - feel free to open this issue or open a new one if you are still facing problems.

[2020-06-26 18:57] kushagraThapar commented on #353
Closing due to inactivity.

[2020-06-26 18:57] #353 closed

[2020-06-26 18:57] kushagraThapar commented on #354
@anshul-dhyani  - Please feel free to re-open this issue if you are still facing the problem.

[2020-06-26 18:57] #354 closed

[2020-06-26 18:59] kushagraThapar commented on #371
@anuraggupta  - can you please share the scenario you would need these ?

[2020-06-26 19:00] #373 closed

[2020-06-26 19:01] kushagraThapar commented on #399
@dsibilio  - thanks for the answer :)
@warrenzhu25 - I am closing this due to inactivity. In the upcoming semester, we are planning to support multi-database support through spring-data-cosmosdb. That should also enable you to support custom documentdb factory bean.

[2020-06-26 19:01] #399 closed

[2020-06-26 19:02] kushagraThapar commented on #457
@nagufriendly - Are you still facing this issue ?

[2020-06-26 19:02] #457 closed

[2020-06-26 19:03] kushagraThapar commented on #458
@dmendez1  - is the issue still happening ?

[2020-06-26 19:03] #458 closed

[2020-06-26 19:04] kushagraThapar commented on #459
@mnolan98-tmk - Not yet, but soon we are going to provide AAD feature, which should allow you to have tighter controls.

[2020-06-26 19:07] kushagraThapar commented on #460
@linux-code  thanks for helping here.
@Jerify02 - are you still facing this issue >

[2020-06-26 19:07] kushagraThapar commented on #477
Yes, it will be supported in upcoming weeks.

[2020-06-26 19:09] kushagraThapar commented on #483
@josuemb  - do you still need to support username/password scenario in proxy environment ?

[2020-06-26 19:10] kushagraThapar commented on #511
@andfeldma-ms can you please share which customer is this ?

[2020-06-26 19:10] #516 closed

[2020-06-26 19:12] kushagraThapar commented on #528
@linux-code - Were you able to use the workaround ?
Or is this something you need support on spring-data-cosmosdb ?

[2020-06-26 19:16] #529 closed

[2020-06-26 19:19] kushagraThapar commented on #368
@allenhumphreys Thanks for the suggestions.

@jainro - I will propose this feature for our next semester.

[2020-06-26 19:21] kushagraThapar commented on #362
@mkaczor - I don't think so there is any update on this, tracking it now for new releases.

[2020-06-26 19:22] kushagraThapar commented on #359
@ggthename @CVigneshwar we are tracking this feature to support offset and limit feature of cosmos query

[2020-06-26 19:23] kushagraThapar commented on #173
@jyotsnaravikumar - can you please share the sample and I will add it to the new docs set that we are working on.

[2020-06-26 19:24] anfeldma-ms commented on #511
@kushagraThapar I will follow up offline.

[2020-06-26 19:24] kushagraThapar commented on #242
This should be supported now.
@Incarnation-p-lee I am closing this for now. Feel free to re-open if the problem still persists.

[2020-06-26 19:24] #242 closed

[2020-06-28 13:19] saragluna commented on #403
@bajrangprasad01

AFAIK the current implementation doesn't support multiple databases. @kushagraThapar could help provide more info on this.

[2020-06-28 18:05] bajrangprasad01 commented on #403
Thank You for the information.

[2020-06-29 17:13] jyotsnaravikumar commented on #173
@kushagraThapar
https://github.com/retaildevcrews/helium-java/blob/master/src/main/java/com/cse/helium/app/dao/MoviesDao.java
line63-67 : using SQLQuerySpec

[2020-06-29 21:27] kushagraThapar commented on #403
@bajrangprasad01 - This will be supported in upcoming spring-data-cosmosdb release train v3.x.x

[2020-06-30 00:43] kushagraThapar commented on #533
@chrisgolle Thats a valid point, I will investigate this and see if we can change the query construction to be parameterized query APIs instead of using string concatenation.

[2020-06-30 06:39] apescione commented on #539
Hi @kushagraThapar, thank you for replying to me.
Basically spring data cosmos db throws the following exception, here the stacktrace:
[code]

[2020-06-30 12:16] vermaaditya opened #545 "Autoscalling using Spring-Data-CosmosDb"
Hi All,

As a part of the new set of features, cosmos db provides auto-scalling at the containers level. - https://docs.microsoft.com/en-us/azure/cosmos-db/provision-throughput-autoscale.

The same can be achieved using Portal as well as ARM Templates. For reference attaching a screenshot of the ARM Template which is picked up from the MSDN - https://docs.microsoft.com/en-us/azure/cosmos-db/manage

[2020-06-30 15:31] kushagraThapar commented on #539
@apescione - thanks for sharing the logs. Though cosmosdb always treats the id as string in the backend, but I guess that should not limit us to allow `Long` type.

[2020-06-30 16:04] kushagraThapar commented on #173
@jyotsnaravikumar - thanks for providing the links.
Though I am not able to open the second link.

[2020-06-30 16:08] kushagraThapar commented on #545
@vermaaditya - This is not supported for current spring-data-cosmosdb releases.

But we are planning to support this in new release version that will come out soon.

[2020-06-30 16:16] vermaaditya commented on #545
@kushagraThapar - can you please help me with the tentative time line for 3.x.x milestone (which you have tagged). I see current version being 2.3.x and my application is targeted to be deployed in another month or so.. which is why i am asking if i should wait or use ARM templates.

[2020-06-30 17:24] kushagraThapar commented on #545
@vermaaditya - v3.x.x is currently in development. It will be based on new azure-cosmos V4 SDK: https://devblogs.microsoft.com/cosmosdb/java-sdk-v4-ga/

This repo is migrating to this new location -> https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/cosmos/azure-spring-data-cosmosdb

The first preview version is scheduled to be out before end of July with updated APIs. I will try to incl

[2020-06-30 23:10] amarendermekala opened #546 "IllegalStateExeception when using CosmosPageRequest"
Hi All,

I am able to process the records in the collection when trying to fetch it using CosmosPageRequest but I see few exceptions which are being printed in the logs as warnings. Am I configuring something wrong / Is there a way to fix this issue ?

Code:
`final CosmosPageRequest pageRequest = new CosmosPageRequest(0, pageSize, null);`
`  Page<T> page = tRepository.findAll(pageRequest);`
 ` Lis

[2020-06-30 23:45] kushagraThapar commented on #546
@amarendermekala - which version of the SDK are you using ?

[2020-07-01 02:23] amarendermekala commented on #546
2.2.1.M1

[2020-07-01 16:47] kushagraThapar commented on #546
@amarendermekala - I believe this issue has been fixed in the later versions of the same release train.
Can you please update to the latest version : https://mvnrepository.com/artifact/com.microsoft.azure/spring-data-cosmosdb/2.2.5 ?

[2020-07-01 17:11] kushagraThapar commented on #295
Closing this issue, duplicate of https://github.com/microsoft/spring-data-cosmosdb/issues/539

[2020-07-01 17:11] #295 closed

[2020-07-01 17:13] kushagraThapar commented on #296
This is already fixed since customers can customize cosmos client through spring now, which has the hooks for throttling retry policy.

[2020-07-01 17:13] #296 closed

[2020-07-01 17:15] kushagraThapar commented on #386
@tanhuynh - are you still facing this issue ?

[2020-07-01 17:18] kushagraThapar commented on #543
@bajrangprasad01 - this is a feature request and is being tracked here : https://github.com/microsoft/spring-data-cosmosdb/issues/520

[2020-07-01 17:19] kushagraThapar commented on #527
Duplicate of : https://github.com/microsoft/spring-data-cosmosdb/issues/407

[2020-07-01 17:23] kushagraThapar commented on #431
I believe this issue can be generalized through : https://github.com/microsoft/spring-data-cosmosdb/issues/539

[2020-07-01 17:24] kushagraThapar commented on #446
@ashishc - apologies for reaching out late. But for now please use Cosmos Java SDK Change Feed.

[2020-07-01 17:25] kushagraThapar commented on #446
Keeping it open to check the support with infinite spring 5 webflux

[2020-07-01 17:26] kushagraThapar commented on #379
@apescione - Resource tokens are not supported anymore through Java Cosmos V4 SDK.
Rather we are bringing in support for AAD integration, which should effectively allow you to do the same thing.

[2020-07-01 17:27] kushagraThapar commented on #379
AAD support: https://github.com/Azure/azure-sdk-for-java/issues/12725

[2020-07-01 17:30] kushagraThapar commented on #359
Closing, since this is being tracked in a different repo now.

[2020-07-01 17:30] #359 closed

[2020-07-01 17:31] kushagraThapar commented on #477
Closing it here as this is being tracked in a separate repo.

[2020-07-01 17:31] #477 closed

[2020-07-01 17:31] kushagraThapar commented on #490
Closing it here as this is being tracked in a separate repo.

[2020-07-01 17:31] #490 closed

[2020-07-01 17:32] kushagraThapar commented on #512
Closing it here as this is being tracked in a separate repo.

[2020-07-01 17:32] #512 closed

[2020-07-01 17:32] kushagraThapar commented on #511
Closing it here as this is being tracked in a separate repo.

[2020-07-01 17:32] #511 closed

[2020-07-01 17:32] kushagraThapar commented on #362
Closing it here as this is being tracked in a separate repo.

[2020-07-01 17:32] #362 closed

[2020-07-01 17:32] kushagraThapar commented on #533
Closing it here as this is being tracked in a separate repo.

[2020-07-01 17:32] #533 closed

[2020-07-01 17:32] kushagraThapar commented on #407
Closing it here as this is being tracked in a separate repo.

[2020-07-01 17:32] #407 closed

[2020-07-01 17:33] kushagraThapar commented on #527
Closing it here as this is being tracked in a separate repo.

[2020-07-01 17:33] #527 closed

[2020-07-01 17:33] kushagraThapar commented on #294
Closing it here as this is being tracked in a separate repo.

[2020-07-01 17:33] #294 closed

[2020-07-01 17:33] kushagraThapar commented on #324
Closing it here as this is being tracked in a separate repo.

[2020-07-01 17:33] #324 closed

[2020-07-01 17:33] kushagraThapar commented on #350
Closing it here as this is being tracked in a separate repo.

[2020-07-01 17:33] #350 closed

[2020-07-01 17:34] kushagraThapar commented on #319
Closing it here as this is being tracked in a separate repo.

[2020-07-01 17:34] #319 closed

[2020-07-01 17:34] kushagraThapar commented on #389
Closing it here as this is being tracked in a separate repo.

[2020-07-01 17:34] #389 closed

[2020-07-01 17:34] kushagraThapar commented on #520
Closing it here as this is being tracked in a separate repo.

[2020-07-01 17:34] #520 closed

[2020-07-01 17:34] kushagraThapar commented on #539
Closing it here as this is being tracked in a separate repo.

[2020-07-01 17:34] #539 closed

[2020-07-01 17:34] kushagraThapar commented on #545
Closing it here as this is being tracked in a separate repo.

[2020-07-01 17:34] #545 closed

[2020-07-01 17:41] siddhantg-cbre commented on #319
@kushagraThapar can you point us to where it's being tracked?

[2020-07-01 19:20] kushagraThapar commented on #319
@siddhantg-cbre - Definitely, here you go : https://github.com/Azure/azure-sdk-for-java/issues/12715

This spring-data-cosmosdb repo is being migrated / moved to a new repo : https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/cosmos/azure-spring-data-cosmosdb

While source code has been migrated successfully, sample code and integration tests are still under progress. Once this repo movem

[2020-07-01 20:18] apescione commented on #379
Hi @kushagraThapar ,
Which means *Resource tokens are not supported anymore through Java Cosmos V4 SDK*? In V4 Permission, ResourceToken and TokenResolver (that work with Resource Tokens) won't be supported to instance CosmosClient? I'm asking for this because at the moment I'm using TokenResolver interface returning Resource Token to implement RBAC in cosmos DB.

[2020-07-01 20:37] kushagraThapar commented on #379
@apescione - Sorry, I wasn't clear enough. `resourceTokens` are supported through permissions.
`TokenResolver` interface is not supported anymore.
The way to go about this would be to first get the resourceIds for permissions and then use them to instantiate `CosmosClient` through `CosmosClientBuilder`

[2020-07-01 20:57] apescione commented on #379
Even in V4 I'm seeing Token Resolver, but its name is changed in CosmosAuthorizationTokenResolver, supported by Builder.
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosClientBuilder.java
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/CosmosAuthorizati

[2020-07-01 21:07] kushagraThapar commented on #379
@apescione Its not supported, we moved the `CosmosAuthorizationTokenResolver` to `implementation` package.
Anything inside `implementation` package is not supposed to be used by end users :)

Also, if you see : https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosClientBuilder.java#L200
This API is not public, so you are not supposed

[2020-07-01 21:29] jordanjennings commented on #379
@kushagraThapar If resource tokens are not directly supported, does this mean that the AAD user accessing cosmos will be expected to have permission to read the master key and that the SDK will internally generate the resource token? Or are there RBAC improvements coming to Cosmos which will enable RBAC for data operations? (really hoping to hear it's the second one)

[2020-07-01 23:02] kushagraThapar commented on #379
@milismsft - can you please answer @jordanjennings's question regarding the internal workings of AAD ?

[2020-07-02 01:06] milismsft commented on #379
@jordanjennings it's rather the later, Cosmos will add RBAC supported roles and others. No need for the respective identity to have access to master keys anymore.
Regarding resource tokens, this is still supported, just keep in mind this works at the container level and items level. Operations such as creating a database or container are not supported when using a resource token.

[2020-07-02 01:46] jordanjennings commented on #379
@millismsft That's fantastic news! We have been anxiously awaiting proper managed identity support for CosmosDB with fine-grained RBAC control. Do you have any rough estimate of when this feature will be rolling out?

[2020-07-02 15:50] milismsft commented on #379
@jordanjennings we are tentatively targeting August/September timeline to roll the AAD support in the Cosmos; this might come first as a "preview" feature and will likely require whitelisting the account. We will publish more specific details through our regular update channels on exact times and others.

[2020-07-07 19:06] kushagraThapar commented on #543
@bajrangprasad01 - I am closing the issue here, since this is being now tracked here : https://github.com/Azure/azure-sdk-for-java/issues/12713

We have migrated the repo to here: https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/cosmos/azure-spring-data-cosmosdb

Future development will happen in the new repo.

[2020-07-07 19:06] #543 closed

[2020-07-17 22:40] mohitmate commented on #141
@kushagraThapar : This issue is still there. It will be useful if we could have support to suppress null fields

[2020-07-17 22:46] kushagraThapar commented on #141
@mohitmate - I will take a look at this soon. Now since the repo has been moved here: https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-spring-data-cosmos
I have created this issue and tracking it here and closing this one: https://github.com/Azure/azure-sdk-for-java/issues/13307

[2020-07-17 22:46] #141 closed

[2020-07-21 07:53] linux-code commented on #542
Thank you for your update Kushagra.

1. Sync / Async repository uses the same code for the implementation, so the metrics should be similar. Since sync code uses blocking calls, the throughput will be affected, but latency should not get much affected. **Agree with you**

2. That being said, what is the query targeting ? This is simple read query using id and Partition-key with default indexing on

[2020-07-22 17:14] kushagraThapar commented on #542
@linux-code Can you please share the stack trace for `resources are no longer available` issue ?

[2020-08-05 10:47] Paizo opened #550 "new spring data repo url in readme point to 404"
the link to the new spring data cosmosdb repository points to https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/cosmos/azure-spring-data-cosmos which respond with 404

[2020-08-05 12:03] zhoufenqin commented on #550
Hi @Paizo, we rename the azure-spring-data-cosmos to azure-spring-data-cosmos-core recently, the link is https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/cosmos/azure-spring-data-cosmos-core

[2020-08-05 16:43] kushagraThapar commented on #550
Thanks @zhoufenqin for fixing the readme.
@Paizo  thanks for pointing out this issue. This is fixed now.

[2020-08-05 16:43] #550 closed

[2020-08-07 07:44] loudywen opened #552 "cosmosdb threads is not able to kill"
Hi, I would like to know is there any ways I can kill or stop the cosmos DB programmatically?   I am trying the use @RefreshScope to refresh the cosmos DB connection. But what I am seeing is after the refreshScope triggered. Spring is able to refresh the cosmos DB connection (new parallel-* threads are created) and inject it into other components.  However, the old cosmosDB threads still running i

[2020-08-07 17:05] loudywen commented on #552
Scenario (has all CCM setup, has this sample for testing [):](https://github.com/sophiaso/spring-cosmosdb-refresh/blob/master/src/main/java/com/example/cosmosdbrefresh/CosmosConfiguration.java)
steps:
1. update some wrong value for the URL in ccm
   (threads before refresh)
![before](https://user-images.githubusercontent.com/706038/89669797-b076ca80-d8a5-11ea-8e5a-dc349cd62bc7.png)

2. hit the app

[2020-08-07 19:43] kushagraThapar commented on #552
Try closing the client properly using `close()` API on `CosmosClient` and re-opening it with new connection details when you are calling `refreshScope`

[2020-08-07 20:15] loudywen commented on #552
I did try it. but still, it looks like nothing happen. that cosmoclient is not killing the `asyncDocumentClient`

[2020-08-07 20:37] loudywen commented on #552
[code]
I have this listener for closing the client. but still the parallel will still stay there and just keep create a new one  for the new connection

[2020-08-10 14:13] loudywen commented on #552
@kushagraThapar can u please give any suggestions?

[2020-08-10 14:38] loudywen commented on #552
Is this the bug?

[2020-08-11 05:55] kushagraThapar commented on #552
@loudywen - I don't think that should be a bug. However, there is a way to find out.
Can you please enable debug logs for cosmos SDK and see the below logs when you close the client ?

[code]

[2020-08-11 19:27] loudywen commented on #552
@kushagraThapar I enabled the debug. but I dont see `GlobalEndpointManager closed.`

[2020-08-11 19:35] loudywen commented on #552
[code]

@kushagraThapar  from the log u can see. there is no closed happen.

[2020-08-11 19:38] loudywen commented on #552
[code]

here is the log when I gave the correct URL. so during the refresScope trigger, there no closed happen! @kushagraThapar

[2020-08-11 19:45] loudywen commented on #552
[code]
@kushagraThapar  see this. after some period of time. some of the paraller-x thread will pick up the previous wrong value and try to connect...

[2020-08-11 19:55] kushagraThapar commented on #552
@loudywen - thanks for attaching the logs, however, I am not seeing any logs emitting for even closing cosmos client.
That indicates that your `onRefresh` API is not getting called.
If it would have been getting called, you should see logs something like this:

[code]

[2020-08-11 20:05] loudywen commented on #552
@kushagraThapar, I am not explicitly calling the refresh endpoint.

like I said I just have POJO annotated with `@ConfigurationProperties` and also the configuration class [https://github.com/sophiaso/spring-cosmosdb-refresh/blob/master/src/main/java/com/example/cosmosdbrefresh/CosmosConfiguration.java )](URL) .

once the CCM updated, I just let the Spring handle the rest of the stuff. I didn't hi

[2020-08-11 20:41] loudywen commented on #552
[code]

I call this within the EnvironmentChangeEvent and I am able to see above two log only. @kushagraThapar
[code]

[2020-08-12 03:20] loudywen commented on #552
@kushagraThapar  can u try from your end and see if the connection (threads) able to close/kill. I still think there is something wrong here.

[2020-08-12 03:49] kushagraThapar commented on #552
@loudywen - sure, I will try it out and will let you know if I see these threads hanging around.

[2020-08-12 03:49] kushagraThapar commented on #552
@loudywen - meanwhile, can you please provide full set of logs ?

[2020-08-12 14:33] loudywen commented on #552
@kushagraThapar  here u go
[spring-boot-logger.log](https://github.com/microsoft/spring-data-cosmosdb/files/5063349/spring-boot-logger.log)

again the scenario I am testing is:
1. ccm and application started
2. go to ccm and give some wrong URL value
3. application able to pick up the updated value and recreate the connection with the wrong URL value
4. timeout exception raised since the URL is wr

[2020-08-12 17:58] kushagraThapar commented on #552
@loudywen  - thanks for providing the detailed logs, I looked at them and I can't find where actually the client got closed and reinstantiated.

Since spring creates a bean initially for `CosmosClient`, I think when you update the URL through your application, the existing `CosmosClient` is not getting closed. I am still not sure how you have hooked up the refresh in your application - but what I

[2020-08-12 18:07] loudywen commented on #552
@kushagraThapar  @sophiaso
ya, close is not happening even I call the refresh (manually). that is why I said something is wrong here.  @sophiaso if you run your sample and do the same scenario I did. I think u should see the same issue.

[2020-08-13 03:27] #537 closed

[2020-08-13 03:30] #495 closed

[2020-08-13 03:30] kushagraThapar commented on #495
This is done in new versio.

[2020-08-13 14:04] loudywen commented on #552
@kushagraThapar Have you try to test it on your side?

[2020-08-13 17:35] kushagraThapar commented on #552
@loudywen - I tested this issue with the sample code for spring-data-cosmosdb repo and I couldn't repro the issue at all. I see that closing the client actually closes `GlobalEndpointManager` and there are no threads hanging around related to that.

However, I am speculating the issue with your application is that there are multiple clients and not all of them are getting closed properly in your a

[2020-08-17 13:46] loudywen commented on #552
@kushagraThapar thanks for the suggestion. But I do understand what you suggest and I do follow the steps that you asked to do. But the issue still exists no matter what.

By the way, what version are you using for test? I am using:
[code]

[2020-08-17 17:40] kushagraThapar commented on #552
@loudywen I tested this with spring-data-cosmosdb 2.3.0 and with the new version of azure-spring-data-cosmos that will be released today - 3.0.0-beta.1
And I couldn't repro the issue..

[2020-08-17 18:24] loudywen commented on #552
@kushagraThapar  so in the future, should I use spring-data-cosmosdb 2.3.0  or  azure-spring-data-cosmos

I can see that the  azure-spring-data-cosmos rewrote the `AbstractCosmosConfiguration` completely and look more reasonable than the one in  spring-data-cosmosdb

[2020-08-17 18:37] kushagraThapar commented on #552
@loudywen - new -> `azure-spring-data-cosmos` will be released today. You should use the new one going forward and let's also move this issue to the new version of the SDK, where it will much easier to debug the issue and fix it.

For your reference, here are the docs on the new version - https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-spring-data-cosmos-core/README.md
And

[2020-08-18 20:06] kushagraThapar commented on #552
@loudywen closing this issue here, as we are tracking it in the new repo.

[2020-08-18 20:06] #552 closed

[2020-09-23 22:52] Anantagupta123 commented on #360
Hey, how did you solve this? everytime i am adding cosmos db my application is getting crashed

[2020-10-26 16:19] helayoty commented on #431
Do we have a date for fixing this issue?

[2020-10-26 16:50] alain-marcel commented on #431
Hi
It would be great if you can accept UUID as @Id in Entity.
All our applications use that, so I have to patch each version of spring-data-cosmos to add UUID and correct trouble in version.
Please find attached the patch for 3.0.0 version.

Alain Marcel

De : Heba Elayoty <notifications@github.com>
Envoyé : lundi 26 octobre 2020 17:19
À : microsoft/spring-data-cosmosdb <spring-data-cosmosdb@norep